<button class="close-btn" (click)="closeDialog()">
  <span class="material-icons">close</span>
</button>

<!-- #region Dialog Header -->
<section class="dialog-header">
  <div class="dialog-title"> {{ dialogTitle }} Mandatory Training </div>
</section>
<!-- #endregion -->


<!-- #region Dialog Body -->
<section class="dialog-body">
  <mat-horizontal-stepper class="onecap-stepper"
  #stepper
  linear
>

  <!-- #region Mandatory Training Details -->
  <mat-step label="Mandatory Training Details">

    <div class="stepper-loader" *ngIf="dialogIsLoading">
      <app-loader></app-loader>
    </div>

    <div class="stepper-content selection"
      [hidden]="dialogIsLoading"
    >
      <section class="selection-section">
        <div id="selection-container">
          <div class="selection-table drag-drop">
            <div class="table-label">
              <div class="onecap-input-form">
                <label> Mandatory Courses </label>
                <div class="input-container">
                  <input type="text"
                    placeholder="Search for a course"
                    [formControl]="CourseSearchFilter"
                    [matAutocomplete]="itemSelectionCourse"
                  />
                  <mat-autocomplete  #itemSelectionCourse="matAutocomplete" autoActiveFirstOption (optionSelected)="SelectedCourses.select($event.option.value);CourseSearchFilter.setValue('')">
                    <mat-option [value]="item" *ngFor="let item of (FilteredCourseList | async)">
                      {{ item.Title }}
                    </mat-option>
                  </mat-autocomplete>
                </div>
              </div>
            </div>

            <div class="table-body"
              cdkDropList
              (cdkDropListDropped)="reorderItems(SelectedCourses, $event)"
            >

                <div class="table-row selection"
                  *ngFor="let item of SelectedCourses.selected; let i = index"
                  cdkDrag
                >
                  <div> {{ i + 1 }} </div>
                  <span class="material-icons drag-handle" cdkDragHandle>
                    drag_indicator
                  </span>
                  <div class="col">
                    {{ item.Title }}
                  </div>
                  <button class="onecap-icon-btn error"

                    (click)="SelectedCourses.deselect(item)"
                  >
                    <span class="material-icons">clear</span>
                  </button>
                </div>

                <div class="table-row selection"
                  *ngIf="SelectedCourses.isEmpty()"
                >
                  <span></span>
                  <span></span>
                  <label class="onecap-lbl error">
                    No courses assigned.
                  </label>
                </div>

            </div>

          </div>

          <span id="separator"></span>

          <div class="selection-table drag-drop">
            <div class="table-label">
              <div class="onecap-input-form">
                <label> Mandatory Exams </label>
                <div class="input-container">
                  <input type="text"
                    placeholder="Search for an exam"
                    [formControl]="ExamSearchFilter"
                    [matAutocomplete]="itemSelectionExam"
                  />
                  <mat-autocomplete #itemSelectionExam="matAutocomplete" autoActiveFirstOption (optionSelected)="SelectedExams.select($event.option.value);ExamSearchFilter.setValue('')">
                    <mat-option [value]="item" *ngFor="let item of (FilteredExamList | async)">
                      {{ item.Title }}
                    </mat-option>
                  </mat-autocomplete>
                </div>
              </div>
            </div>

            <div class="table-body"
              cdkDropList
              (cdkDropListDropped)="reorderItems(SelectedExams, $event)"
            >

              <div class="table-row selection"
                *ngFor="let item of SelectedExams.selected; let i = index"
                cdkDrag
              >
                <div> {{ i + 1 }} </div>
                <span class="material-icons drag-handle" cdkDragHandle>
                  drag_indicator
                </span>
                <div class="col">
                  {{ item.Title }}
                </div>
                <button class="onecap-icon-btn error"

                  (click)="SelectedExams.deselect(item)"
                >
                  <span class="material-icons">clear</span>
                </button>
              </div>

              <div class="table-row selection"
                *ngIf="SelectedExams.isEmpty()"
              >
                <span></span>
                <span></span>
                <label class="onecap-lbl error">
                  No exams assigned.
                </label>
              </div>
            </div>

          </div>

        </div>
      </section>
    </div>

    <div class="stepper-action">
      <button class="onecap-btn accent-2"
        [disabled]="SelectedCourses.isEmpty() && SelectedExams.isEmpty()"
        matStepperNext
      >
        <div class="button-wrapper">
          Next <span class="material-icons">chevron_right</span>
        </div>
      </button>
    </div>
  </mat-step>
  <!-- #endregion Mandatory Training Details -->


  <!-- #region Email Reminder Details -->
  <mat-step label="Email Reminder Details">

    <div class="stepper-loader" *ngIf="dialogIsLoading">
      <app-loader></app-loader>
    </div>

    <div class="stepper-content"
      [hidden]="dialogIsLoading"
    >
      <!-- Single Form -->
      <section class="mandatory-training-form"
        [formGroup]="FormDetails"
      >

        <!-- Title -->
        <div class="onecap-input-form"
          [ngClass]="{ 'invalid': FormDetails.get('NotificationSubject').invalid }"
        >
          <label> Email Notification Subject<span class="required">*</span> </label>
          <div class="input-container">
            <input type="text"
              formControlName="NotificationSubject"
            />
          </div>
        </div>

        <!-- Description -->
        <div class="onecap-input-form"
          [ngClass]="{ 'invalid': FormDetails.get('NotificationMessage').invalid }"
        >
          <label> Email Notification Message<span class="required">*</span> </label>
          <div class="editor-container">
            <ckeditor
              formControlName="NotificationMessage"
              [editor]="editor"
              [config]="editorConfig"
            ></ckeditor>
          </div>
        </div>

        <section class="date-section">
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('Deadline').invalid }"
          >
            <label>Due Date <span class="required">*</span></label>
            <div class="input-container">
              <input type="date"
                [min]="currentDate"
                formControlName="Deadline"
              />
            </div>
          </div>

          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('LastNotification').invalid }"
          >
            <label>Final Date <span class="required">*</span></label>
            <div class="input-container">
              <input type="date"
                [min]="currentDate"
                formControlName="LastNotification"
              />
            </div>
          </div>
        </section>
      </section>
    </div>

    <div class="stepper-action">
      <button class="onecap-outline-btn accent-2"
        matStepperPrevious
      >
        <div class="button-wrapper">
          <span class="material-icons">chevron_left</span> Previous
        </div>
      </button>
      <button class="onecap-btn accent-2"
        [disabled]="FormDetails.invalid"
        (click)="save()"
      > Submit </button>
    </div>
  </mat-step>
  <!-- #endregion Email Reminder Details -->

  <ng-template
    matStepperIcon="done"
    let-index="index"
    let-active="active"
  > {{ index + 1 }} </ng-template>

  <ng-template
    matStepperIcon="edit"
    let-index="index"
    let-active="active"
  > {{ index + 1 }} </ng-template>

</mat-horizontal-stepper>
</section>
<!-- #endregion -->
