<a
  *ngIf="{ url: currentUrl | async }"
  (click)="onItemSelected(item)"
  [ngClass]="{
    'active': (
      item.Route ?
        (
          router.isActive(item.Route, false) &&
          !item.Children
        ): false
      ),
      'expanded': expanded,
      'child': depth > 0
  }"
  [ngStyle]="{'padding-left': (depth * 16) + 'px'}"
  class="nav-link"
>
  <div class="nav-item-container">
    <img *ngIf="item.IconName" [class]="'blk icon ' + item.IconName">
    <span class="nav-label">{{ item.DisplayName }}</span>
    <span
      class="material-icons"
      [@indicatorRotate]="(expanded) ? 'expanded': 'collapsed'"
      *ngIf="item.Children && item.Children.length"
    >expand_more</span>
  </div>
</a>

<div class='sub-menu'
  *ngIf="item.Children && item.Children.length"
  [@detailExpand]="expanded ? 'expanded' : 'collapsed'"
>
  <app-nav-list-item
    *ngFor="let child of item.Children"
    [item]="child"
    [depth]="depth + 1"
  ></app-nav-list-item>
</div>
