:host {
  width: 300px;
  min-height: 125px;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 5px;
}

.dialog-body {
  align-items: center;
  text-align: center;
}

.dialog-action {
  justify-content: center;
}
