<button class="close-btn" matDialogClose>
  <span class="material-icons">close</span>
</button>

<!-- #region Dialog Header -->
<section class="dialog-header">
  {{ ActiveItem?.Title || '(No Course)' }}
</section>
<!-- #endregion -->

<!-- #region Dialog Body -->
<section class="dialog-body">
  <ng-container *ngIf="!RoleIsLoading">
    <div class="duration">
      <label class="onecap-label primary">
        Duration: {{ ActiveItem.TotalDurationString }}
      </label>
    </div>

    <div class="description-container">
      <div class="content"
        *ngIf="ActiveItem?.HasDescription"
        [innerHTML]="ActiveItem.Description"
      ></div>
      <div id="no-description"
        *ngIf="!ActiveItem?.HasDescription"
      > No description available. </div>
    </div>

    <div id="curriculum-section">
      <div id="header">
        Curriculum
      </div>
      <div id="list" *ngIf="RequiredCurriculumIdArr.length > 0">
        <div id="table" class="onecap-table">
          <div class="table-row" *ngFor="let id of RequiredCurriculumIdArr;let idx=index;">
            <ng-container *ngIf="CurriculumMap[id] as CurriculumItem">
              <div class="section buttons">
                <!-- Course Index -->
                <div class="col-name">
                  {{ idx + 1 }}
                </div>

                <!-- Course More Info -->
                <div class="col-name">
                  <button class="onecap-icon-btn" (click)="launchCurriculum(CurriculumItem)">
                    <span class="material-icons">info_outline</span>
                  </button>
                </div>
              </div>

              <div class="section details">

                <!-- Course Title -->
                <div class="col-name">
                  {{ CurriculumItem?.Title }}
                </div>

                <!-- Course Duration -->
                <div class="col-name">
                  <label class="onecap-lbl primary">
                    {{ CurriculumItem?.TotalDurationString }}
                  </label>
                </div>

                <!-- Action -->
                <div class="col-name action">
                  <button class="onecap-btn accent" (click)="launchCurriculum(CurriculumItem)">
                    View
                  </button>
                </div>

                <!-- Status -->
                <div class="col-name status">
                </div>

              </div>
            </ng-container>

          </div>
        </div>
      </div>

      <div id="no-data-message" *ngIf="RequiredCurriculumIdArr.length === 0">
        No curriculum assigned
      </div>
    </div>

    <div id="course-section">
      <div id="header">
        Courses
      </div>
      <div id="list" *ngIf="RequiredCourseIdArr.length > 0">
        <div id="table" class="onecap-table">
          <div class="table-row" *ngFor="let id of RequiredCourseIdArr;let idx=index;">

            <ng-container *ngIf="CourseMap[id] as course">
              <div class="section buttons">
                <!-- Course Index -->
                <div class="col-name">
                  {{ idx + 1 }}
                </div>

                <!-- Course More Info -->
                <div class="col-name">
                  <button class="onecap-icon-btn" (click)="moreInfoCourse(course)">
                    <span class="material-icons">info_outline</span>
                  </button>
                </div>
              </div>

              <div class="section details">

                <!-- Course Title -->
                <div class="col-name">
                  {{ course?.Title }}
                </div>

                <!-- Course Duration -->
                <div class="col-name">
                  <label class="onecap-lbl primary">
                    {{ course?.DurationString }}
                  </label>
                </div>

                <!-- Action -->
                <div class="col-name action">
                  <button class="onecap-btn primary" (click)="launchCourse(course)">
                    Launch
                  </button>
                </div>

                <!-- Course Status -->
                <div class="col-name status">
                  <div class="status-badge"
                    [ngClass]="{
                      'completed': (course.Status === CourseStatus.Completed),
                      'pending': (course.Status === CourseStatus.Pending),
                      'not-started': (course.Status === CourseStatus.NotRegistered)
                    }"
                  >
                    {{ course.Status }}
                  </div>
                </div>

                <!-- More -->
                <div class="col-name more">
                  <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="courseMenu">
                    <span class="material-icons">more_horiz</span>
                  </button>
                  <mat-menu #courseMenu="matMenu">
                    <button mat-menu-item (click)="moreInfoCourse(course)">More information</button>
                    <button mat-menu-item
                      [disabled]="course.HasRecord"
                      (click)="addToMyCourse(course)"
                    >{{ course.HasRecord ? 'Added' : 'Add to My Courses'}}</button>
                    <button mat-menu-item
                      (click)="markCourseAsComplete(course)"
                      [disabled]="course.Status === CourseStatus.Completed"
                    > {{ course.Status === CourseStatus.Completed ? 'Completed' : 'Mark as Complete'}} </button>
                    <button mat-menu-item (click)="copyToClipBoard(course.Title, ContentType.COURSES)">Copy Link</button>
                    <button mat-menu-item (click)="reportProblem(course, 'Course')" > Contact Us </button>
                  </mat-menu>
                </div>

              </div>
            </ng-container>

          </div>
        </div>
      </div>

      <div id="no-data-message" *ngIf="RequiredCourseIdArr.length === 0">
        No course assigned
      </div>
    </div>

    <div id="exam-section">
      <div id="header">
        Exams
      </div>
      <div id="list" *ngIf="RequiredExamIdArr.length > 0">
        <div id="table" class="onecap-table">
          <div class="table-row" *ngFor="let id of RequiredExamIdArr;let idx=index;">
            <ng-container *ngIf="ExamMap[id] as exam">
              <div class="section buttons">
                <div class="col-name">
                  {{ idx + 1 }}
                </div>

                <!-- Course More Info -->
                <div class="col-name">
                </div>
              </div>

              <div class="section details">

                <!-- Course Title -->
                <div class="col-name">
                  {{ exam?.Title }}
                </div>

                <!-- Action -->
                <div class="col-name action">
                  <button class="onecap-btn primary" (click)="launchExam(exam)">
                    Launch
                  </button>
                </div>

                <!-- Course Status -->
                <div class="col-name status">
                  <div class="status-badge"
                    [ngClass]="{
                      'completed': (exam.Status === ExamStatus.PASSED),
                      'failed': (exam.Status === ExamStatus.FAILED),
                      'not-started': (exam.Status === ExamStatus.NOT_YET_TAKEN)
                    }"
                  >
                    {{ exam.Status }}
                  </div>
                </div>

                <!-- More -->
                <div class="col-name">
                  <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="examMenu">
                    <span class="material-icons">more_horiz</span>
                  </button>
                  <mat-menu #examMenu="matMenu">
                    <button mat-menu-item [disabled]="exam.HasRecord" (click)="addToMyExam(exam)">{{ exam.HasRecord ? 'Added' : 'Add to My Exams' }}</button>
                    <button mat-menu-item (click)="copyToClipBoard(exam.Title, ContentType.EXAMS)">Copy Link</button>
                    <button mat-menu-item (click)="reportProblem(exam, 'Exam')">Contact Us</button>
                  </mat-menu>
                </div>


              </div>
            </ng-container>


          </div>
        </div>
      </div>

      <div id="no-data-message" *ngIf="RequiredExamIdArr.length === 0">
        No exams assigned
      </div>
    </div>

  </ng-container>

  <div class="dialog-loader" *ngIf="RoleIsLoading">
    <app-loader></app-loader>
  </div>
</section>
<!-- #endregion -->

<!-- #region Dialog Action -->
<section class="dialog-action" *ngIf="!RoleIsLoading">
  <button class="onecap-btn accent-2"
    [disabled]="ActiveItem.IsCurrentRole"
    (click)="addCurrentRole()"
  >
    {{
      ActiveItem.IsCurrentRole ?
        'Added as Current Role':
        'Add as Current Role'
    }}
  </button>
</section>
<!-- #endregion -->

