<button class="close-btn" (click)="close()">
  <span class="material-icons">close</span>
</button>

<!-- #region Dialog Header -->
<section class="dialog-header">
  <div class="dialog-title"> {{ dialogTitle }} Role </div>
</section>
<!-- #endregion -->


<!-- #region Dialog Body -->

<section class="dialog-body">
  <mat-horizontal-stepper class="onecap-stepper"
    #stepper
    linear
  >

    <!-- #region Role Details -->
    <mat-step label="Role Details"
      [completed]="FormDetails.valid"
    >
      <div class="stepper-loader" *ngIf="dialogIsLoading">
        <app-loader></app-loader>
      </div>

      <div id="details-section" class="stepper-content"
        [hidden]="dialogIsLoading"
      >

        <!-- Single Form -->
        <section id="single-form"
          [formGroup]="FormDetails"
        >

          <!-- Title -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('Title').invalid }"
          >
            <label> Role Name<span class="required">*</span> </label>
            <div class="input-container">
              <input type="text"
                formControlName="Title"
              />
            </div>
          </div>

          <!-- Description -->
          <div class="onecap-input-form">
            <label> Role Description </label>
            <div class="editor-container">
              <ckeditor
                formControlName="Description"
                [editor]="editor"
                [config]="editorConfig"
              ></ckeditor>
              <div class="counter">
                {{ DescriptionCount | async }}
              </div>
            </div>
          </div>

          <!-- Category -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('Category').invalid }"
          >
            <label> Role Category <span class="required">*</span> </label>
            <div class="select-container">
              <mat-select
                [disableOptionCentering]="true"
                [placeholder]="'-'"
                formControlName="Category"
              >
                <mat-option [value]="null">-</mat-option>
                <mat-option
                  *ngFor="let item of (CategoryList | async)"
                  [value]="item"
                >{{ item?.Title }}</mat-option>
              </mat-select>
            </div>
          </div>

          <!-- Sub-Category -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('SubCategory').invalid }"
          >
            <label> Role Sub-category <span class="required">*</span> </label>
            <div class="select-container">
              <mat-select
                [disableOptionCentering]="true"
                [placeholder]="'-'"
                formControlName="SubCategory"
              >
                <mat-option [value]="null">-</mat-option>
                <mat-option
                  *ngFor="let item of (FilteredSubCategoryList | async)"
                  [value]="item"
                >{{ item?.Title }}</mat-option>
              </mat-select>
            </div>
          </div>

          <!-- Owners -->
          <div class="onecap-input-form"
            [ngClass]="{
              'invalid': FormDetails.get('Owners').invalid
            }"
            (focus)="inputOwner.focus()"
            (click)="inputOwner.focus()"
          >
            <label>
              Role Owners<span class="required">*</span>
              <div class="info-message">Search by name or email</div>
            </label>

            <div class="textarea-container">
              <div class="item-list">
                <div class="item-selection"
                  *ngFor="let owner of FormDetails.get('Owners').value;let i = index"
                >
                  <button class="onecap-icon-btn delete"
                    (click)="removeOwner(i)"
                  >
                    <span class="material-icons">clear</span>
                  </button>
                  <span>{{ owner.Title }}</span>
                </div>
              </div>
              <input #inputOwner type="text"
                [formControl]="OwnersControl"
                [matAutocomplete]="auto"
              >
            </div>
          </div>

        </section>

      </div>

      <div class="stepper-action">
        <button class="onecap-link-btn accent-2"
          [disabled]="FormDetails.invalid"
          (click)="validateName(true)"
        >
          Skip Assigning of Learning Materials
        </button>

        <button class="onecap-btn accent-2"
          (click)="validateName()"
          [disabled]="FormDetails.invalid"
        >
          <div class="button-wrapper">
            Next <span class="material-icons">chevron_right</span>
          </div>
        </button>
      </div>
    </mat-step>
    <!-- #endregion Role Details -->

    <!-- #region Assigned Curriculum -->
    <mat-step label="Assign Curriculum"
      [optional]="true"
    >
      <div class="stepper-loader" *ngIf="curriculaIsLoading">
        <app-loader></app-loader>
      </div>

      <div class="stepper-content"
        [hidden]="curriculaIsLoading"
      >
        <div class="selection-table drag-drop">
          <div class="table-label">
            <div class="onecap-input-form">
              <label>
                <span class="onecap-lbl accent-2">Required</span> Curricula
                <div class="info-message">Add the curriculum required for the role here.</div>
              </label>
              <div class="input-container">
                <input type="text"
                  #searchField
                  placeholder="Search for a curriculum"
                  [formControl]="CurriculumSearchFilter"
                  [matAutocomplete]="itemSelectionCurriculum"
                />
              </div>
              <mat-autocomplete
                #itemSelectionCurriculum="matAutocomplete"
                autoActiveFirstOption
                (optionSelected)="AssignedCurriculum.select($event.option.value);CurriculumSearchFilter.setValue('')"
              >
                <ng-container *ngIf="(FilteredCurriculumList$ | async) as List">
                  <mat-option [disabled]="true" [value]="null" *ngIf="List.length === 0">
                    No curricula available.
                  </mat-option>
                  <mat-option [value]="item" *ngFor="let item of List">
                    {{ item?.Title }}
                  </mat-option>

                </ng-container>
              </mat-autocomplete>
            </div>
          </div>

          <div class="table-body"
            cdkDropList
            (cdkDropListDropped)="reorderItems(AssignedCurriculum, $event)"
          >
            <div class="table-row selection"
              *ngFor="let item of AssignedCurriculum.selected; let i = index"
              cdkDrag
            >
              <div> {{ i + 1 }} </div>
              <span class="material-icons drag-handle" cdkDragHandle>
                drag_indicator
              </span>
              <div class="col">
                {{ item?.Title }}
              </div>
              <button class="onecap-icon-btn error"

                (click)="AssignedCurriculum.deselect(item)"
              >
                <span class="material-icons">clear</span>
              </button>
            </div>

            <div class="table-row selection"
              *ngIf="AssignedCurriculum.isEmpty()"
            >
              <span></span>
              <span></span>
              <label class="onecap-lbl error">
                No curricula assigned.
              </label>
            </div>
          </div>

        </div>
      </div>
      <div class="stepper-action">
        <button class="onecap-outline-btn accent-2"
          matStepperPrevious
        >
          <div class="button-wrapper">
            <span class="material-icons">chevron_left</span> Previous
          </div>
        </button>
        <button class="onecap-btn accent-2"
          matStepperNext
        >
          <div class="button-wrapper">
            Next <span class="material-icons">chevron_right</span>
          </div>
        </button>
      </div>
    </mat-step>
    <!-- #endregion Assigned Curriculum -->

    <!-- #region Assigned Courses -->
    <mat-step label="Assign Courses"
      [optional]="true"
    >
      <div class="stepper-loader" *ngIf="coursesIsLoading">
        <app-loader></app-loader>
      </div>

      <div class="stepper-content"
        [hidden]="coursesIsLoading"
      >
        <div class="selection-table drag-drop">
          <div class="table-label">
            <div class="onecap-input-form">
              <label>
                <span class="onecap-lbl accent-2">Required</span> Courses
                <div class="info-message">Add the course required for the role here.</div>
              </label>
              <div class="input-container">
                <input type="text"
                  #searchField
                  placeholder="Search for a course"
                  [formControl]="CourseSearchFilter"
                  [matAutocomplete]="itemSelectionCourse"
                />
              </div>
              <mat-autocomplete #itemSelectionCourse="matAutocomplete" autoActiveFirstOption (optionSelected)="AssignedCourse.select($event.option.value);CourseSearchFilter.setValue('')">
                <ng-container *ngIf="(FilteredCourseList$ | async) as List">
                  <mat-option [disabled]="true" [value]="null" *ngIf="List.length === 0">
                    No course available.
                  </mat-option>
                  <mat-option [value]="item" *ngFor="let item of List">
                    {{ item?.Title }}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </div>
          </div>

          <div class="table-body"
            cdkDropList
            (cdkDropListDropped)="reorderItems(AssignedCourse, $event)"
          >
            <ng-container *ngIf="(CurriculumCourses$|async) as CurriculumCourses">

              <ng-container *ngIf="{ Expanded: false } as container">
                <div class="expand-item">
                  <div>
                    <button class="onecap-icon-btn"
                      [@indicatorRotate]="container.Expanded ? 'expanded' : 'collapsed'"
                      (click)="container.Expanded = !container.Expanded"
                    >
                      <span class="material-icons">
                        expand_more
                      </span>
                    </button>
                  </div>
                  <div> Assigned Courses </div>
                </div>
                <div class="expand-area"
                  [@detailExpand]="container.Expanded ? 'expanded' : 'collapsed'"
                >
                  <div class="table-row selection"
                    *ngFor="let item of CurriculumCourses"
                  >
                    <div></div>
                    <div></div>
                    <div class="col">
                      {{ item?.Title }}
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="table-row selection"
                *ngFor="let item of AssignedCourse.selected; let i = index"
                cdkDrag
              >
                <div> {{ i + 1 }} </div>
                <span class="material-icons drag-handle" cdkDragHandle>
                  drag_indicator
                </span>
                <div class="col">
                  {{ item?.Title }}
                </div>
                <button class="onecap-icon-btn delete"
                  (click)="AssignedCourse.deselect(item)"
                >
                  <span class="material-icons">clear</span>
                </button>
              </div>

              <div class="table-row selection" *ngIf="
                (CurriculumCourses.length) === 0 &&
                AssignedCourse.isEmpty()
              ">
                <div></div>
                <div></div>
                <label class="onecap-lbl error">
                  No course assigned.
                </label>
              </div>

            </ng-container>
          </div>

        </div>
      </div>
      <div class="stepper-action">
        <button class="onecap-outline-btn accent-2"
          matStepperPrevious
        >
          <div class="button-wrapper">
            <span class="material-icons">chevron_left</span> Previous
          </div>
        </button>
        <button class="onecap-btn accent-2"
          matStepperNext
        >
          <div class="button-wrapper">
            Next <span class="material-icons">chevron_right</span>
          </div>
        </button>
      </div>
    </mat-step>
    <!-- #endregion Assigned Courses -->

    <!-- #region Assigned Exams -->
    <mat-step label="Assign Exams"
      [optional]="true"
    >
      <div class="stepper-loader" *ngIf="examsIsLoading">
        <app-loader></app-loader>
      </div>

      <div class="stepper-content"
        [hidden]="examsIsLoading"
      >
        <div class="selection-table drag-drop">
          <div class="table-label">
            <div class="table-title">
              <div class="onecap-input-form">
                <label>
                  <span class="onecap-lbl accent-2">Required</span> Exams
                  <div class="info-message">Add the exam required for the role here.</div>
                </label>
                <div class="input-container">
                  <input type="text"
                    #searchField
                    placeholder="Search for an exam"
                    [formControl]="ExamSearchFilter"
                    [matAutocomplete]="itemSelectionExam"
                  />
                </div>
                <mat-autocomplete #itemSelectionExam="matAutocomplete" autoActiveFirstOption (optionSelected)="AssignedExam.select($event.option.value);ExamSearchFilter.setValue('')">
                  <ng-container *ngIf="(FilteredExamList$ | async) as List">
                    <mat-option [disabled]="true" [value]="null" *ngIf="List.length === 0">
                      No exams available.
                    </mat-option>
                    <mat-option [value]="item" *ngFor="let item of List">
                      {{ item?.Title }}
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </div>
            </div>
          </div>

          <div class="table-body"
            cdkDropList
            (cdkDropListDropped)="reorderItems(AssignedExam, $event)"
          >
            <ng-container *ngIf="(CurriculumExam$|async) as CurriculumExam">

              <ng-container *ngIf="{ Expanded: false } as container">
                <div class="expand-item">
                  <div>
                    <button class="onecap-icon-btn"
                      [@indicatorRotate]="container.Expanded ? 'expanded' : 'collapsed'"
                      (click)="container.Expanded = !container.Expanded"
                    >
                      <span class="material-icons">
                        expand_more
                      </span>
                    </button>
                  </div>
                  <div> Assigned Exams </div>
                </div>
                <div class="expand-area"
                  [@detailExpand]="container.Expanded ? 'expanded' : 'collapsed'"
                >
                  <div class="table-row selection"
                    *ngFor="let item of CurriculumExam"
                  >
                    <div></div>
                    <div></div>
                    <div class="col">
                      {{ item?.Title }}
                    </div>
                  </div>
                </div>
              </ng-container>

              <div class="table-row selection"
                *ngFor="let item of AssignedExam.selected; let i = index"
                cdkDrag
              >
                <div> {{ i + 1 }} </div>
                <span class="material-icons drag-handle" cdkDragHandle>
                  drag_indicator
                </span>
                <div class="col">
                  {{ item?.Title }}
                </div>
                <button class="onecap-icon-btn delete"
                  (click)="AssignedExam.deselect(item)"
                >
                  <span class="material-icons">clear</span>
                </button>
              </div>

              <div class="table-row selection" *ngIf="
                (CurriculumExam.length) === 0 &&
                AssignedExam.isEmpty()
              ">
                <div></div>
                <div></div>
                <label class="onecap-lbl error">
                  No exam assigned.
                </label>
              </div>
            </ng-container>
          </div>

        </div>
      </div>
      <div class="stepper-action">
        <button class="onecap-outline-btn accent-2"
          matStepperPrevious
        >
          <div class="button-wrapper">
            <span class="material-icons">chevron_left</span> Previous
          </div>
        </button>
        <button class="onecap-btn accent-2"
          matStepperNext
        >
          <div class="button-wrapper">
            Next <span class="material-icons">chevron_right</span>
          </div>
        </button>
      </div>
    </mat-step>
    <!-- #endregion Assigned Exams -->

    <!-- #region Confirm -->
    <mat-step label="Confirm">
      <div class="stepper-content"
        *ngIf="FormDetails.value as details"
        [hidden]="FormDetails.invalid"
      >
        <div class="basic-form summary">
          <div class="column">
            <div class="field">
              <label>Role Name*</label>
              <div> {{ details?.Title || '(Blank)' }} </div>
            </div>

            <div class="field">
              <label>Role Description</label>
              <div [innerHTML]="details.Description"></div>
              <div *ngIf="(DescriptionCount |  async) === 0">No description available.</div>
            </div>

            <div class="field">
              <label>Role Owner/s*</label>
              <div class="list">
                <div *ngFor="let item of details.Owners">
                  {{ item?.Title }}
                </div>
              </div>
            </div>

          </div>

          <div class="column">
            <div class="field">
              <label>Role Category*</label>
              <div> {{ details?.Category?.Title || '(Blank)' }} </div>
            </div>

            <div class="field">
              <label>Role Sub-category*</label>
              <div> {{ details?.SubCategory?.Title || '(Blank)' }} </div>
            </div>

          </div>

        </div>

        <section class="assigned-section">
          <div class="basic-form summary">
            <div class="column">

              <div class="field" *ngIf="AssignedCurriculum as AssignedList">
                <label>Assigned Curricula</label>
                <div class="list">
                  <div class="item" *ngFor="let item of AssignedList.selected; let i=index">
                    <span class="index">{{ i + 1 }}</span>
                    <div>
                      {{ item?.Title }}
                    </div>
                  </div>

                  <div class="onecap-lbl error" *ngIf="AssignedList.isEmpty()">
                    No required curriculum assigned.
                  </div>
                </div>
              </div>

              <div class="field" *ngIf="AssignedCourse as AssignedList">
                <label>Assigned Courses</label>
                <div class="list">
                  <ng-container *ngIf="CurriculumCourses$ | async as CurriculumCourse">

                    <div class="item" *ngFor="let item of CurriculumCourse">
                      <span class="index"></span>
                      <div>
                        {{ item?.Title }}
                      </div>
                    </div>

                    <div class="item" *ngFor="let item of AssignedList.selected; let i=index">
                      <span class="index">{{ i + 1 }}</span>
                      <div>
                        {{ item?.Title }}
                      </div>
                    </div>

                    <div class="onecap-lbl error" *ngIf="
                      (CurriculumCourse.length) === 0 &&
                      AssignedList.isEmpty()
                    ">
                      No required course assigned.
                    </div>

                  </ng-container>
                </div>
              </div>

              <div class="field" *ngIf="AssignedExam as AssignedList">
                <label>Assigned Exams</label>
                <div class="list">
                  <ng-container *ngIf="CurriculumExam$ | async as CurriculumExam">

                    <div class="item" *ngFor="let item of CurriculumExam">
                      <span class="index"></span>
                      <div>
                        {{ item?.Title }}
                      </div>
                    </div>

                    <div class="item" *ngFor="let item of AssignedList.selected; let i=index">
                      <span class="index">{{ i + 1 }}</span>
                      <div>
                        {{ item?.Title }}
                      </div>
                    </div>

                    <div class="onecap-lbl error" *ngIf="
                      (CurriculumExam.length) === 0 &&
                      AssignedList.isEmpty()
                    ">
                      No required exam assigned.
                    </div>

                  </ng-container>
                </div>
              </div>

            </div>

          </div>
        </section>

      </div>

      <div class="stepper-action">
        <button class="onecap-outline-btn accent-2"
          matStepperPrevious
        >
          <div class="button-wrapper">
            <span class="material-icons">chevron_left</span> Previous
          </div>
        </button>
        <button class="onecap-btn accent-2"
          (click)="save()"
        > Submit </button>
      </div>
    </mat-step>
    <!-- #endregion -->

    <ng-template
      matStepperIcon="done"
      let-index="index"
      let-active="active"
    > {{ index + 1 }} </ng-template>

    <ng-template
      matStepperIcon="edit"
      let-index="index"
      let-active="active"
    > {{ index + 1 }} </ng-template>

  </mat-horizontal-stepper>
</section>
<!-- #endregion -->

<mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn" (optionSelected)="addOwner($event.option.value)">
  <mat-option *ngIf="IsSearchingUser" [disabled]="true">
    <div class="flex align-items-center justify-content-center" >
      <mat-spinner [diameter]="24"></mat-spinner>
    </div>
  </mat-option>
  <ng-container *ngIf="!IsSearchingUser && (SearchUserList | async) as searchedUsers">
    <mat-option [value]="profile" *ngFor="let profile of searchedUsers">
      {{ profile.DisplayText }}
    </mat-option>
  </ng-container>
</mat-autocomplete>
