<button class="close-btn" (click)="closeDialog()">
  <span class="material-icons">close</span>
</button>

<!-- #region Dialog Header -->
<section class="dialog-header">
  <div class="dialog-title"> {{ dialogTitle }} Course </div>
</section>
<!-- #endregion -->


<!-- #region Dialog Body -->

<section class="dialog-body">
  <mat-horizontal-stepper class="onecap-stepper"
    #stepper
    linear
  >

    <!-- #region Course Details -->
    <mat-step label="Course Details"
      [completed]="FormDetails.valid"
    >
      <div class="stepper-loader" *ngIf="dialogIsLoading">
        <app-loader></app-loader>
      </div>

      <div id="details-section" class="stepper-content"
        [hidden]="dialogIsLoading"
      >

        <!-- Single Form -->
        <section id="single-form"
          [formGroup]="FormDetails"
        >

          <div class="course-material"
            *ngIf="(FormDetails.get('Material')) as Material"
            [ngClass]="{ 'invalid': Material.invalid }"
            formGroupName="Material"
          >
            <label>Course Material <span class="required">*</span></label>
            <div class="material-options">
              <mat-radio-group class="onecap-radio-group form"
                formControlName="SelectedOption"
              >
                <div class="radio-row input">
                  <mat-radio-button class="onecap-radio-button primary"
                    [value]="CourseMaterialOptions.Link"
                  ></mat-radio-button>
                  <div class="onecap-input-form row-form"
                    [ngClass]="{ 'invalid': Material.get('Link').invalid }"
                  >
                    <label>Input Link</label>
                    <div class="input-container">
                      <input type="text"
                        formControlName="Link"
                      />
                    </div>
                  </div>
                </div>

                <div class="radio-row input">
                  <mat-radio-button class="onecap-radio-button primary"
                    [value]="CourseMaterialOptions.Upload"
                  ></mat-radio-button>
                  <div class="upload-container">
                    <div class="onecap-input-form row-form"
                      [ngClass]="{ 'invalid': UploadFile.invalid }"
                      *ngIf="Material.get('UploadFile') as UploadFile"
                    >
                      <label>Upload File</label>
                      <div class="filepicker-container"
                      >
                        <div id="file-lbl">
                          {{ UploadFile.value ? UploadFile.value.name : '' }}
                        </div>
                        <button id="browse-btn"
                          (click)="fileButton.click()"
                          [disabled]="Material.get('SelectedOption').value !== CourseMaterialOptions.Upload"
                        > Browse </button>
                        <input
                          #fileButton
                          hidden
                          type="file"
                          (change)="courseMaterialUpdated($event)"
                        />
                      </div>
                      <div></div>
                      <span class="hint-message">
                        or files with size greater than 250 MB, please contact <a [href]="'mailto:' + ContactEmail"> {{ ContactEmail }} </a> for assistance.
                      </span>
                    </div>
                    <div class="onecap-input-form row-form"
                      [ngClass]="{ 'invalid': SelectedFolder.invalid }"
                      *ngIf="Material.get('SelectedFolder') as SelectedFolder"
                    >
                      <label>Folder <span class="required">*</span></label>
                      <div class="select-container">
                        <mat-select
                          [panelClass]="'onecaplite-option-container'"
                          [disableOptionCentering]="true"
                          [placeholder]="'-'"
                          formControlName="SelectedFolder"
                        >
                          <mat-option [value]="null">-</mat-option>
                          <mat-option
                            *ngFor="let item of (FolderList|async)"
                            [value]="item"
                          >{{ item }}</mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="radio-row">
                  <mat-radio-button class="onecap-radio-button primary"
                    [value]="CourseMaterialOptions.IstructorLed"
                  ></mat-radio-button>
                  Instructor-led Course (no training available on site)
                </div>

              </mat-radio-group>
            </div>
            <a class="onecap-button accent-2 outline" *ngIf="HasCourseMaterial" [href]="CourseMaterialLink" target="_blank">
              Download current course material
            </a>
          </div>

          <!-- Title -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('Title').invalid }"
          >
            <label> Course Name<span class="required">*</span> </label>
            <div class="input-container">
              <input type="text"
                formControlName="Title"
              />
            </div>
          </div>

          <!-- Description -->
          <div class="onecap-input-form">
            <label> Course Description </label>
            <div class="editor-container">
              <ckeditor
                class=""
                formControlName="Description"
                [editor]="editor"
                [config]="editorConfig"
              ></ckeditor>
              <div class="counter"> {{ DescriptionCount | async }} </div>
            </div>
          </div>

          <!-- Category -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('LearningCategory').invalid }"
          >
            <label> Category <span class="required">*</span> </label>
            <div class="select-container">
              <mat-select
                [panelClass]="'onecaplite-option-container'"
                [disableOptionCentering]="true"
                [placeholder]="'-'"
                formControlName="LearningCategory"
              >
                <mat-option
                  *ngFor="let item of (LearningCategoryList | async)"
                  [value]="item"
                >{{ item.Title }}</mat-option>
              </mat-select>
            </div>
          </div>

          <!-- Sub-category -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('LearningSubCategory').invalid }"
          >
            <label> Sub-Category <span class="required">*</span> </label>
            <div class="select-container">
              <mat-select
                [panelClass]="'onecaplite-option-container'"
                [disableOptionCentering]="true"
                [placeholder]="'-'"
                formControlName="LearningSubCategory"
              >
                <mat-option
                  *ngFor="let item of (FilteredLearningSubCategoryList | async)"
                  [value]="item"
                >{{ item.Title }}</mat-option>
              </mat-select>
            </div>
          </div>

          <!-- Owners -->
          <div class="onecap-input-form"
            [ngClass]="{
              'invalid': FormDetails.get('Owners').invalid
            }"
            (focus)="inputOwner.focus()"
            (click)="inputOwner.focus()"
          >
            <label>
              Course Owners<span class="required">*</span>
              <div class="info-message">Search by name or email</div>
            </label>
            <div class="textarea-container">
              <div class="item-list">
                <div class="item-selection"
                  *ngFor="let owner of FormDetails.get('Owners').value;let i = index"
                >
                  <button class="onecap-icon-btn delete"
                    (click)="removeOwner(i)"
                  >
                    <span class="material-icons">clear</span>
                  </button>
                  <span>{{ owner.Title }}</span>
                </div>
              </div>
              <input #inputOwner type="text"
                [formControl]="OwnersControl"
                [matAutocomplete]="auto"
              >
            </div>
          </div>

          <!-- Duration -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('Duration').invalid }"
          >
            <label> Course Duration<span class="required">*</span> </label>
            <div class="input-container short">
              <input type="text"
                formControlName="Duration"
              />
            </div>
            <div class="error-container">
              <span class="error-message" *ngIf="FormDetails.get('Duration').invalid">
                Please use HH:MM format. Maximum of 99hours and 59minutes.
              </span>
            </div>
          </div>

          <!-- Tags -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('Tags').invalid }"
          >
            <label> Tags </label>
            <div class="input-container">
              <input type="text"
                formControlName="Tags"
              />
            </div>
          </div>

        </section>

      </div>

      <div class="stepper-action">
        <button class="onecap-link-btn accent-2"
          [disabled]="FormDetails.invalid"
          (click)="validateName(true)"
        >
          Skip Assigning Curricula
        </button>

        <button class="onecap-btn accent-2"
          (click)="validateName()"
          [disabled]="FormDetails.invalid"
        >
          <div class="button-wrapper">
            Next <span class="material-icons">chevron_right</span>
          </div>
        </button>
      </div>
    </mat-step>
    <!-- #endregion Course Details -->

    <!-- #region Assigned Curricula -->
    <mat-step label="Assign Curricula"
      [optional]="true"
    >
      <div class="stepper-loader" *ngIf="curriculumIsLoading">
        <app-loader></app-loader>
      </div>

      <div class="stepper-content selection"
        [hidden]="dialogIsLoading"
      >
        <section class="selection-section">
          <div id="filter">
            <div class="onecap-input-form">
              <label>
                Curriculum Name
              </label>
              <div class="input-container">
                <input type="text"
                placeholder="Search"
                [formControl]="CurriculumSearchFilter"
                />
              </div>
            </div>

            <div class="tip">
              By default, the course will be added as the last course of each curriculum. You can update the order of the courses in <b> Admin > Curricula </b> page.
            </div>
          </div>

          <div id="selection-container">

            <div class="selection-table" *ngIf="FilteredCurriculumList | async as list">
              <div class="table-header">
                <div></div>
                <div class="col"> Curriculum Name </div>
              </div>

              <div class="table-row" *ngIf="list.length === 0">
                <span></span>
                <label class="onecap-lbl error">
                  No curriculum available.
                </label>
              </div>

              <div class="table-row"
                *ngFor="let item of list"
              >
                <div>
                  <button
                    class="onecap-icon-btn accent-2"
                    (click)="AssignedCurriculum.select(item)"
                  >+</button>
                </div>
                <div class="col">
                  {{ item.Title }}
                </div>
              </div>
            </div>

            <span id="separator"></span>

            <div class="selection-table">
              <div class="table-header">
                <div></div>
                <div class="col"> Assigned Curricula </div>
              </div>

              <div class="table-row" *ngIf="!AssignedCurriculum.hasValue()">
                <span></span>
                <label class="onecap-lbl error">
                  No curriculum assigned.
                </label>
              </div>

              <div class="table-row"
                *ngFor="let item of AssignedCurriculum.selected"
              >
                <button class="onecap-icon-btn error"
                  [disabled]="!item.IsOwner"
                  (click)="AssignedCurriculum.deselect(item)"
                >
                  <span class="material-icons">clear</span>
                </button>
                <div class="col">
                  {{ item.Title }}
                </div>
              </div>
            </div>

          </div>
        </section>

      </div>
      <div class="stepper-action">
        <button class="onecap-outline-btn accent-2"
          matStepperPrevious
        >
          <div class="button-wrapper">
            <span class="material-icons">chevron_left</span> Previous
          </div>
        </button>
        <button class="onecap-btn accent-2"
          matStepperNext
        >
          <div class="button-wrapper">
            Next <span class="material-icons">chevron_right</span>
          </div>
        </button>
      </div>
    </mat-step>
    <!-- #endregion Assigned Curricula -->

    <!-- #region Confirm Details -->
    <mat-step label="Confirm Details">
      <div class="stepper-content"
        *ngIf="FormDetails.value as details"
        [hidden]="FormDetails.invalid"
      >
        <div class="basic-form summary">
          <div class="column">
            <div class="field">
              <label>Course Name*</label>
              <div> {{ details.Title }} </div>
            </div>

            <div class="field">
              <label>Course Description</label>
              <div [innerHTML]="details.Description"></div>
              <div *ngIf="(DescriptionCount | async) === 0">No description available.</div>
            </div>

            <div class="field" *ngIf="FormDetails.get('Material').valid && details.Material as Material">
              <label>Course Material*</label>
              <div
                class="link"
                *ngIf="Material.SelectedOption as SelectedOption"
                [ngSwitch]="SelectedOption"
                [ngClass]="{'course-link': SelectedOption === CourseMaterialOptions.Link}"
              >
                <ng-container *ngSwitchCase="CourseMaterialOptions.IstructorLed">
                  Instructor-led Course (no training available on site)
                </ng-container>
                <ng-container *ngSwitchCase="CourseMaterialOptions.Link">
                  {{ Material.Link }}
                </ng-container>
                <ng-container *ngSwitchCase="CourseMaterialOptions.Upload">
                  {{ Material.UploadFile.name }}
                </ng-container>
              </div>
            </div>

            <div class="field">
              <label>Course Owner/s*</label>
              <div class="list">
                <div *ngFor="let item of details.Owners">
                  {{ item.Title }}
                </div>
              </div>
            </div>

          </div>

          <div class="column">
            <div class="field">
              <label>Course Duration*</label>
              <div> {{ details.Duration }} </div>
            </div>

            <div class="field">
              <label>Category*</label>
              <div> {{ details.LearningCategory? details.LearningCategory.Title : '' }} </div>
            </div>

            <div class="field">
              <label>Sub-Category*</label>
              <div> {{ details.LearningSubCategory? details.LearningSubCategory.Title : '' }} </div>
            </div>

          </div>

        </div>

        <section class="assigned-section">
          <div class="basic-form summary">
            <div class="column">

              <div class="field">
                <label>Assigned Curriculum</label>
                <div class="list">
                  <div class="onecaplite-lbl error" *ngIf="!AssignedCurriculum.hasValue()">
                    No curriculum assigned.
                  </div>
                  <div *ngFor="let item of AssignedCurriculum.selected">
                    {{ item.Title }}
                  </div>
                </div>
              </div>

            </div>

          </div>
        </section>
      </div>

      <div class="stepper-action">
        <button class="onecap-outline-btn accent-2"
          matStepperPrevious
        >
          <div class="button-wrapper">
            <span class="material-icons">chevron_left</span> Previous
          </div>
        </button>
        <button class="onecap-btn accent-2"
          (click)="save()"
        > Save </button>
      </div>
    </mat-step>
    <!-- #endregion -->

    <ng-template
      matStepperIcon="done"
      let-index="index"
      let-active="active"
    > {{ index + 1 }} </ng-template>

    <ng-template
      matStepperIcon="edit"
      let-index="index"
      let-active="active"
    > {{ index + 1 }} </ng-template>

  </mat-horizontal-stepper>
</section>
<!-- #endregion -->

<mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn" (optionSelected)="addOwner($event.option.value)">
  <mat-option *ngIf="IsSearchingUser" [disabled]="true">
    <div class="flex align-items-center justify-content-center" >
      <mat-spinner [diameter]="24"></mat-spinner>
    </div>
  </mat-option>
  <ng-container *ngIf="!IsSearchingUser && (SearchUserList | async) as searchedUsers">
    <mat-option [value]="profile" *ngFor="let profile of searchedUsers">
      {{ profile.DisplayText }}
    </mat-option>
  </ng-container>
</mat-autocomplete>

