.selection-section {
  grid-template-rows: 1fr;
}
.mandatory-training-form {
  display         : grid;
  justify-content : center;
  gap             : 20px;
}

.date-section {
  display : grid;
  gap     : 45px;
  grid-template-columns: repeat(2, max-content);

  & > .onecap-input-form {
    width: 300px;
  }

}

