<div class="page-container">
  <section class="page-header">
    <div class="page-title"> Courses </div>
  </section>

  <section class="page-body" *ngIf="!pageIsLoading">

    <!-- Filters -->
    <section id="filters" class="card">
      <!-- Search -->
      <div class="onecap-input-form">
        <label>Course Name</label>
        <div class="input-container">
          <input type="text"
            placeholder="Search"
            [formControl]="keywordFilter"
          />
        </div>
      </div>

      <!-- Course Owner -->
      <div class="onecap-input-form">
        <label>Course Owner</label>
        <div class="select-container">
          <mat-select
            placeholder="All Category"
            [formControl]="ownerFilter"
          >
            <mat-option [value]="1"> @Me </mat-option>
            <mat-option [value]="-1"> All </mat-option>
          </mat-select>
        </div>
      </div>
    </section>

    <section id="actions">
      <button class="onecap-btn primary"
        (click)="uploadRegistrationSheet()"
      >
        Upload Registration
      </button>
      <button class="onecap-btn primary"
        (click)="uploadAttendanceSheet()"
      >
        Upload Attendance
      </button>
      <button class="onecap-btn accent-2"
        (click)="create()"
      >
        <div class="button-wrapper">
          <span class="material-icons">add</span>
          Create Course
        </div>
      </button>
    </section>

    <section id="data" class="card">
      <ng-container *ngIf="filteredCourseList|async as list">
          <div class="table-container" >
            <div id="course-table" class="onecap-table" *ngIf="list.length > 0 && !dataIsLoading">

              <div class="table-header">

                <div id="details" class="section" >
                  <div class="col-name">
                    Course Name
                  </div>
                  <div class="col-name">
                    Last Modified
                  </div>
                </div>

                <div id="action" class="section">
                  <div class="col-name">Action</div>
                </div>

              </div>

              <div class="table-row" *ngFor="let item of list">

                <div id="details" class="section" >
                  <div class="col-name">
                    <button class="onecap-link-btn accent-2" (click)="update(item)">
                      {{ item.Title }}
                    </button>
                  </div>
                  <div class="col-name">
                    {{item.DateModified}} {{item.Editor.Title}}
                  </div>
                </div>

                <div id="action" class="section">
                  <div class="col-name action-col">
                    <button class="onecap-icon-btn accent"
                      [disabled]="!item.IsOwner"
                      (click)="update(item)"
                      matTooltip="Edit"
                      matTooltipPosition="above"
                    >
                      <span class="material-icons">edit</span>
                    </button>
                    <button class="onecap-icon-btn accent-2"
                      [disabled]="!item.IsOwner"
                      (click)="showReviews(item)"
                      matTooltip="View Feedback Rating"
                      matTooltipPosition="above"
                    >
                      <img class="icon icon-dxc testimonials-like-comment-2 wht" />
                    </button>
                    <button class="onecap-icon-btn error"
                      [disabled]="!item.IsOwner"
                      (click)="delete(item)"
                      matTooltip="Delete"
                      matTooltipPosition="above"
                    >
                      <span class="material-icons">clear</span>
                    </button>
                  </div>
                </div>

              </div>

            </div>

            <div class="card-message" *ngIf="list.length === 0 && !dataIsLoading">
              No course available.
            </div>

            <div class="status-loading" *ngIf="dataIsLoading">
              <app-loader></app-loader>
            </div>
          </div>
      </ng-container>

    </section>

    