<button class="close-btn" matDialogClose>
  <span class="material-icons">close</span>
</button>

<!-- #region Dialog Header -->
<section class="dialog-header">
  {{ ActiveItem?.Title || '(No Course)' }}
</section>
<!-- #endregion -->

<!-- #region Dialog Body -->
<section class="dialog-body">
  <ng-container *ngIf="!CurriculumIsLoading">
    <div class="duration">
      <label class="onecap-lbl primary">
        Duration: {{ ActiveItem.TotalDurationString }}
      </label>
    </div>

    <div class="description-container">
      <div class="content"
        *ngIf="ActiveItem?.HasDescription"
        [innerHTML]="ActiveItem.Description"
      ></div>
      <div id="no-description"
        *ngIf="!ActiveItem?.HasDescription"
      > No description available. </div>
    </div>

    <div class="button-section">
      <button class="onecap-outline-btn primary" (click)="addCoursesAndExams()">
        Add All to My Progress
      </button>
    </div>

    <div id="course-section">
      <div id="header">
        Courses
      </div>
      <div id="list" *ngIf="CoursesIdArr.length > 0">
        <div id="table" class="onecap-table">
          <div class="table-row" *ngFor="let id of CoursesIdArr;let idx=index;">
            <ng-container *ngIf="CourseMap[id] as course">
              <div class="section buttons">
                <!-- Course Index -->
                <div class="col-name">
                  {{ idx + 1 }}
                </div>

                <!-- Course More Info -->
                <div class="col-name">
                  <button class="onecap-icon-btn" (click)="openCourseDescription(course)">
                    <span class="material-icons">info_outline</span>
                  </button>
                </div>
              </div>

              <div class="section details">

                <!-- Course Title -->
                <div class="col-name">
                  {{ course?.Title }}
                </div>

                <!-- Course Duration -->
                <div class="col-name">
                  <label class="onecap-lbl primary">
                    {{ course?.DurationString }}
                  </label>
                </div>

                <!-- Action -->
                <div class="col-name action">
                  <button class="onecap-btn primary" (click)="launchCourse(course)">
                    Launch
                  </button>
                </div>

                <!-- Course Status -->
                <div class="col-name status">
                  <div class="status-badge"
                    [ngClass]="{
                      'completed': (course.Status === CourseStatus.Completed),
                      'pending': (course.Status === CourseStatus.Pending),
                      'not-started': (course.Status === CourseStatus.NotRegistered)
                    }"
                  >
                    {{ course.Status }}
                  </div>
                </div>

                <!-- More -->
                <div class="col-name more">
                  <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="courseMenu">
                    <span class="material-icons">more_horiz</span>
                  </button>
                  <mat-menu #courseMenu="matMenu">
                    <button mat-menu-item (click)="moreInfoCourse(course)">More information</button>
                    <button mat-menu-item
                      [disabled]="course.HasRecord"
                      (click)="addToMyCourse(course)"
                    >{{ course.HasRecord ? 'Added' : 'Add to My Courses'}}</button>
                    <button mat-menu-item
                      (click)="markCourseAsComplete(course)"
                      [disabled]="course.Status === CourseStatus.Completed"
                    > {{ course.Status === CourseStatus.Completed ? 'Completed' : 'Mark as Complete'}} </button>
                    <button mat-menu-item (click)="copyToClipBoard(course.Title, ContentType.COURSES)">Copy Link</button>
                    <button mat-menu-item (click)="reportProblem(course, 'Course')" > Contact Us </button>
                  </mat-menu>
                </div>

              </div>

            </ng-container>
          </div>
        </div>
      </div>

      <div id="no-data-message" *ngIf="CoursesIdArr.length === 0">
        No course assigned
      </div>
    </div>

    <div id="exam-section">
      <div id="header">
        Exams
      </div>
      <div id="list" *ngIf="ExamsIdArr.length > 0">
        <div id="table" class="onecap-table">
          <div class="table-row" *ngFor="let id of ExamsIdArr;let idx=index;">
            <ng-container *ngIf="ExamMap[id] as exam">
              <div class="section buttons">
                <div class="col-name">
                  {{ idx + 1 }}
                </div>

                <!-- Course More Info -->
                <div class="col-name">
                </div>
              </div>

              <div class="section details">

                <!-- Exam Title -->
                <div class="col-name">
                  {{ exam?.Title }}
                </div>

                <div></div>

                <!-- Action -->
                <div class="col-name action">
                  <button class="onecap-btn primary" (click)="launchExam(exam)">
                    Launch
                  </button>
                </div>

                <!-- Exam Status -->
                <div class="col-name status">
                  <div class="status-badge"
                    [ngClass]="{
                      'completed': (exam.Status === ExamStatus.PASSED),
                      'failed': (exam.Status === ExamStatus.FAILED),
                      'not-started': (exam.Status === ExamStatus.NOT_YET_TAKEN)
                    }"
                  >
                    {{ exam.Status }}
                  </div>
                </div>

                <!-- More -->
                <div class="col-name more">
                  <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="examMenu">
                    <span class="material-icons">more_horiz</span>
                  </button>
                  <mat-menu #examMenu="matMenu">
                    <button mat-menu-item [disabled]="exam.HasRecord" (click)="addToMyExam(exam)">{{ exam.HasRecord ? 'Added' : 'Add to My Exams' }}</button>
                    <button mat-menu-item (click)="copyToClipBoard(exam.Title, ContentType.EXAMS)">Copy Link</button>
                    <button mat-menu-item (click)="reportProblem(exam, 'Exam')">Contact Us</button>
                  </mat-menu>
                </div>


              </div>
            </ng-container>

          </div>
        </div>
      </div>

      <div id="no-data-message" *ngIf="ExamsIdArr.length === 0">
        No exams assigned
      </div>
    </div>
  </ng-container>

  <div class="dialog-loader" *ngIf="CurriculumIsLoading">
    <app-loader></app-loader>
  </div>
</section>
<!-- #endregion -->

