<div class="page-container">
  <section class="page-header">
    <div class="page-title"> Employee </div>
  </section>

  <section class="page-body" *ngIf="!pageIsLoading">

    <!-- Filters -->
    <section id="filters" class="card">
      <!-- Search User -->
      <div class="onecap-input-form">
        <label>User</label>
        <div class="input-container">
          <input type="text"
            placeholder="Search"
            [formControl]="userFilter"
          />
        </div>
      </div>

      <!-- Search Manager -->
      <div class="onecap-input-form">
        <label>Manager</label>
        <div class="input-container">
          <input type="text"
            placeholder="Search"
            [formControl]="managerFilter"
          />
        </div>
      </div>


      <!-- Curriculum Owner -->
      <div class="onecap-input-form">
        <label>Country</label>
        <div class="select-container">
          <mat-select
            placeholder="All Category"
            [formControl]="countryIdFilter"
          >
            <mat-option [value]="-1"> All </mat-option>
            <ng-container *ngIf="countryList | async as list">
              <mat-option *ngFor="let item of list" [value]="item.Id"> {{ item.Title }} </mat-option>
            </ng-container>
          </mat-select>
        </div>
      </div>
    </section>

    <section id="actions">
      <!-- Add Employee Button -->
      <button class="onecap-btn accent-2"
        (click)="create()"
      >
        <div class="button-wrapper">
          <span class="material-icons">add</span>
          Add Employee
        </div>
      </button>
    </section>

    <section id="data" class="card">
      <ng-container *ngIf="filteredUserProfileList | async as list">
          <div class="table-container" >
            <div id="employee-table" class="onecap-table" *ngIf="list.length > 0 && !dataIsLoading">

              <div class="table-header">

                <div id="details" class="section" >
                  <div class="col-name">
                    Employee Name
                  </div>
                  <div class="col-name">
                    Role
                  </div>
                </div>

                <div id="action" class="section">
                  <div class="col-name">Action</div>
                </div>

              </div>

              <div class="table-row" *ngFor="let item of list">

                <div id="details" class="section" >
                  <div class="col-name">
                    <div class="onecap-link-btn accent-2" routerLink="employee-progress/{{item?.User?.Id}}">
                      {{ item?.User?.Title || '(Blank)' }}
                    </div>
                  </div>
                  <div class="col-name">
                    <ng-container *ngIf="userRoleMap[item?.User?.Id] as roleList; else blank">
                      <div class="list">
                        <div *ngFor="let role of roleList"> {{ role.RoleName }} </div>
                      </div>
                    </ng-container>
                    <ng-template #blank>
                      (Blank)
                    </ng-template>
                  </div>
                </div>

                <div id="action" class="section">
                  <div class="col-name action-col">
                    <button class="onecap-icon-btn accent"
                      (click)="update(item)"
                      matTooltip="Edit"
                      matTooltipPosition="above"
                    >
                      <span class="material-icons">edit</span>
                    </button>
                    <button class="onecap-icon-btn error"
                      (click)="delete(item)"
                      matTooltip="Delete"
                      matTooltipPosition="above"
                    >
                      <span class="material-icons">clear</span>
                    </button>
                  </div>
                </div>

              </div>

            </div>

            <div class="card-message" *ngIf="list.length === 0 && !dataIsLoading">
              No employee available.
            </div>

            <div class="status-loading" *ngIf="dataIsLoading">
              <app-loader></app-loader>
            </div>
          </div>
      </ng-container>
    </section>
  </section>

  <section class="page-loader" *ngIf="pageIsLoading">
    <app-loader></app-loader>
  </section>

</div>
