.page-header {
  display               : grid;
  grid-template-columns : 1fr auto;
  align-items           : baseline;
}

#profile-section {
  &.card {
    padding: 30px 20px;
  }
  display : grid;
  gap     : 15px;

  #profile-name {
    font-weight   : bold;
    margin-top    : -10px;
    font-size     : var(--font-lg);
    color         : var(--onecaplite-purple);
    border-bottom : 1px solid var(--onecaplite-darkwhite);
  }

  #profile-details {
    display               : grid;
    grid-template-columns : repeat(3, 1fr);
    align-items           : baseline;
    gap                   : 15px;

    .profile-item {
      display               : grid;
      align-items           : baseline;

      & > label {
        font-weight: bold;
      }
    }
  }

}

#roles-section.card {
  padding: 20px;
}

.list-item {
  cursor          : pointer;
  color           : var(--onecaplite-blue);
  text-decoration : underline;
}
