#role {
  .section-body {
    position: relative;
  }
}

.card-section {
  display         : flex;
  flex-direction  : column;
  align-items     : stretch;
  justify-content : flex-start;
  .section-header {
    .section-title {
      font-weight     : bold;
      font-size       : var(--font-lg);
      line-height     : var(--linespace-lg);
      letter-spacing  : var(--no-char-spacing);
      height          : var(--font-lg);
    }
  }

  .section-header + .section-body {
    margin-top  : 5px;
  }

  .section-body {
    flex-grow   : 1;
  }
}

.page-body {
  display               : grid;
  grid-template-columns : 1fr;
  gap                   : 40px;
}

.other-profile-section {
  box-sizing  : border-box;
  .back-btn {
    border          : var(--onecaplite-blue) solid 1px;
    color           : var(--onecaplite-blue);
    background-color: var(--onecaplite-white);
  }
}

#top-row {
  display               : grid;
  grid-auto-flow        : column;
  grid-auto-columns     : 1fr;
  grid-auto-rows        : 1fr;
  justify-content       : stretch;
  align-items           : stretch;
  gap                   : 40px;

  .card-section {
    flex-grow : 1;
  }
}

#filters {
  display : grid;
  gap     : 10px;
  grid-template-columns: repeat(3, 1fr);
}

#role {
  .card-header {
    color: var(--onecaplite-blue);
    height: unset;
    padding: 5px 0px;
    grid-template-columns: 1fr max-content;
    .onecap-outline-btn {
      width           : 75px;
    }
  }

  .prev-btn, .next-btn {
    cursor  : pointer;

    position  : absolute;
    top       : calc(50% - 15px);

    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;

    height          : 30px;
    width           : 30px;
    border-radius   : 50%;
    border          : none;
    color           : var(--onecaplite-white);
    background-color: var(--onecaplite-purple);
    &:focus {
      outline: none;
    }

  }

  .prev-btn {
    left: -15px;
  }
  .next-btn {
    right: -15px;
  }
}

#progress-area {
  box-sizing        : border-box;
  height            : 100px;
  margin            : 8px;
  margin-bottom     : 0px;
  background-color  : rgba($color: #d9d9d9, $alpha: 0.25);

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;

  #progress-body {
    flex-grow       : 1;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    gap             : 5px;
    width           : 100%;
    padding         : 0px 25px;
    box-sizing      : border-box;
  }

  #progress-percentage {
    align-self    : center;
    font-weight   : bold;
    font-size     : var(--font-xl);
    line-height   : var(--linespace-xl);
    letter-spacing: var(--no-char-spacing);
    color         : var(--onecaplite-blue);
  }

  #progress-bar {
    max-width : 500px;
    width     : 100%;
  }

  #progress-count {
    align-self    : center;
    font-weight   : bold;
    font-size     : var(--font-sm);
    line-height   : var(--linespace-sm);
    letter-spacing: var(--no-char-spacing);
    color         : var(--onecaplite-blue);
  }
}

.card-section.colapsable {
  .section-header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
  }
  .section-body {
    overflow: hidden;
  }
}


.onecap-table {
  &.curriculum, &.course-progress, &.exam-progress {
    .table-header, .table-row {
      grid-template-columns: 3.5fr 1.5fr;
      & > .section {
        &.details {
          grid-template-columns: 1.5fr 0.75fr 0.75fr;
        }
      }
    }
  }
}

.content-container {
  display : grid;
  gap     : 15px;
}

.learning-section {
  display : grid;

  .learning-section-header {
    padding-left  : 15px;
    font-weight   : bold;
    font-size     : var(--font-lg);
    color         : var(--onecaplite-purple);
  }
}

@media only screen and (max-width: 1279px) {
  #top-row {
    grid-auto-flow : row;
  }
}

@media only screen and (max-width: 949px) {
  .table-area.curriculum {
    .table-header, .table-row {
      grid-template-columns: 2fr 1fr;
      & > .section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
  }
}

/* #endregion */

