#filters {
  display               : grid;
  grid-template-columns : repeat(4, 1fr);
  align-items           : center;
  gap                   : 10px;
}

#actions {
  display: grid;
  justify-content: flex-end;
}
#mandatory-training-table {
  .table-header, .table-row {
    grid-template-columns: 1fr 125px;
    #details {
      grid-template-columns: repeat(2, 2fr) repeat(3, 125px);
    }
  }
}
