<div class="page-container">

  <section class="page-body" [hidden]="PageIsLoading">

    <!-- Filters -->
    <section id="filters">
      <div class="form-container">
        <div class="search-container">
          <div class="container">
            <button class="onecap-btn primary explore-btn" [matMenuTriggerFor]="exploreMenu">
              <div class="button-wrapper">
                Explore <span class="material-icons"> keyboard_arrow_down </span>
              </div>
            </button>
            <mat-menu #exploreMenu="matMenu" class="explore-menu" (close)="HoveredCategory = null; ActiveSubCategoryList.next([])">
              <div class="menu-container">
                <section class="learning-category-section">
                  <div class="header">
                    Learning Material
                  </div>
                  <div class="list-container">
                    <button
                      class="menu-item category-item"
                      *ngFor="let item of LearningCategoryList"
                      (mouseenter)="ActiveSubCategoryList.next(item.SubCategoryList); HoveredCategory = item"
                      [ngClass]="{ 'hovered': HoveredCategory === item }"
                      (click)="RoleCategoryForm.setValue(null); CategoryForm.setValue(item);"
                    >
                      <span>
                        {{ item.Title }}
                      </span>
                      <span class="material-icons">chevron_right</span>
                    </button>
                  </div>
                </section>
                <section class="learning-sub-category-section">
                  <div class="header"></div>
                  <div class="list-container">
                    <button
                      class="menu-item"
                      *ngFor="let subItem of (ActiveSubCategoryList | async)"
                      (click)="CategoryForm.setValue(null); RoleCategoryForm.setValue(null); SubCategoryForm.setValue(subItem);"
                    >
                      {{ subItem.Title }}
                    </button>
                  </div>
                </section>
                <section class="role-category-section">
                  <div class="header">
                    Roles
                  </div>
                  <div class="list-container">
                    <button
                      class="menu-item"
                      *ngFor="let item of RoleCategoryList"
                      (click)="CategoryForm.setValue(null); SubCategoryForm.setValue(null); RoleCategoryForm.setValue(item);"
                    > {{ item.Title }} </button>
                  </div>
                </section>
              </div>
            </mat-menu>
          </div>
          <div class="search-form">
            <input
              type="text"
              placeholder="What do you want to learn?"
              [formControl]="SearchQueryForm"
            />
            <span class="material-icons">
              search
            </span>
          </div>
        </div>
        <mat-select class="content-type-select" [formControl]="ContentTypeForm"
          [panelClass]="'onecaplite-option-container'"
        >
          <mat-option [value]="ContentType.ALL_TYPE"> {{ ContentType.ALL_TYPE }} </mat-option>
          <mat-option [value]="ContentType.LEARNING_MAPS"> {{ ContentType.LEARNING_MAPS }} </mat-option>
          <mat-option [value]="ContentType.CURRICULA"> {{ ContentType.CURRICULA }} </mat-option>
          <mat-option [value]="ContentType.COURSES"> {{ ContentType.COURSES }} </mat-option>
          <mat-option [value]="ContentType.EXAMS"> {{ ContentType.EXAMS }} </mat-option>
        </mat-select>
      </div>
    </section>


    <ng-container *ngIf="(ContentTypeObs | async) as contentTypeValue">
      <section class="filter-values" *ngIf="contentTypeValue !== ContentType.ALL_TYPE || SubCategoryForm.value !== null || CategoryForm.value !== null || RoleCategoryForm.value !== null">
        <button class="onecap-outline-btn accent"
          *ngIf="contentTypeValue !== ContentType.ALL_TYPE"
          (click)="ContentTypeForm.setValue(ContentType.ALL_TYPE)"
        >
          <div class="button-wrapper">
            <span class="material-icons"> navigate_before </span>
            Go Back
          </div>
        </button>
        <button class="onecap-chip" *ngIf="CategoryForm.value" (click)="this.CategoryForm.setValue(null)">
          {{ CategoryForm.value?.Title }}
        </button>
        <button class="onecap-chip" *ngIf="SubCategoryForm.value" (click)="this.SubCategoryForm.setValue(null)">
          {{ SubCategoryForm.value?.FullName }}
        </button>
        <button class="onecap-chip" *ngIf="RoleCategoryForm.value" (click)="this.RoleCategoryForm.setValue(null)">
          {{ RoleCategoryForm.value?.Title }}
        </button>
      </section>

      <!-- #region Curriculum -->
      <section id="curriculum" class="grid-section"
        [hidden]="!(contentTypeValue === ContentType.ALL_TYPE || contentTypeValue === ContentType.CURRICULA)"
      >
        <div class="section-header">
          Curricula
        </div>
        <ng-container *ngIf="(CurriculumPage|async) as PagedData">
          <div class="section-body" *ngIf="!CurriculumIsLoading && PagedData.results.length > 0">
            <div class="grid-item" *ngFor="let item of PagedData.results">
              <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="curriculumMenu">
                <span class="material-icons">more_horiz</span>
              </button>
              <mat-menu #curriculumMenu="matMenu">
                <button mat-menu-item (click)="moreInfoCurriculum(item)">More Information</button>
                <button mat-menu-item (click)="copyToClipBoard(item.Title, ContentType.CURRICULA)">Copy Link</button>
              </mat-menu>
              <div class="item-title">
                {{ item.Title }}
              </div>
              <div class="item-category">
                {{ item.LearningCategoryName }}
              </div>
              <div class="item-duration"></div>
              <div class="item-status"></div>
              <div class="item-action">
                <button class="onecap-btn accent" (click)="moreInfoCurriculum(item)">
                  View
                </button>
              </div>
            </div>
          </div>
          <div class="section-message" *ngIf="!CurriculumIsLoading && PagedData.results.length === 0">
            No curriculum available.
          </div>
          <div class="section-actions">
            <button class="onecap-btn"
              *ngIf="contentTypeValue === ContentType.ALL_TYPE && (!CurriculumIsLoading && PagedData.results.length > 0)"
              (click)="ContentTypeForm.setValue(ContentType.CURRICULA)"
            >
              <div class="button-wrapper">
                See all <span class="material-icons">navigate_next</span>
              </div>
            </button>
            <button class="onecap-btn"
              *ngIf="contentTypeValue === ContentType.CURRICULA && (PagedData.hasNext && !NextPageLoading && !CurriculumIsLoading)"
              (click)="CurriculumPageIdx.next(1)"
            >
              <div class="button-wrapper">
                See More <span class="material-icons">expand_more</span>
              </div>
            </button>
          </div>
        </ng-container>
        <div class="section-loader" *ngIf="CurriculumIsLoading || NextPageLoading">
          <app-loader></app-loader>
        </div>

      </section>
      <!-- #endregion Curriculum -->

      <!-- #region Course -->
      <section id="course" class="grid-section"
        [ngClass]="{'dark-section': contentTypeValue === ContentType.ALL_TYPE}"
        [hidden]="!(contentTypeValue === ContentType.ALL_TYPE || contentTypeValue === ContentType.COURSES)"
      >
        <div class="section-header">
          Courses
        </div>
        <ng-container *ngIf="(CoursePage|async) as PagedData">
          <div class="section-body" *ngIf="!CourseIsLoading && PagedData.results.length > 0">
            <div class="grid-item" *ngFor="let item of PagedData.results">
              <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="courseMenu">
                <span class="material-icons">more_horiz</span>
              </button>
              <mat-menu #courseMenu="matMenu">
                <button mat-menu-item (click)="moreInfoCourse(item)">More information</button>
                <button mat-menu-item
                  [disabled]="item.HasRecord"
                  (click)="addToMyCourse(item)"
                >{{ item.HasRecord ? 'Added' : 'Add to My Courses'}}</button>
                <button mat-menu-item (click)="copyToClipBoard(item.Title, ContentType.COURSES)">Copy Link</button>
                <button mat-menu-item (click)="reportProblem(item, 'Course')" >Contact Us</button>
              </mat-menu>
              <div class="item-title">
                {{ item.Title }}
              </div>
              <div class="item-category">
                {{ item.LearningCategoryName }}
              </div>
              <div class="item-duration">
                Duration: {{ item.DurationString || 'No duration' }}
              </div>
              <div class="item-status">
                <div class="status-badge"
                  [ngClass]="{
                    'completed': (item.Status === CourseStatus.Completed),
                    'pending': (item.Status === CourseStatus.Pending),
                    'not-started': (item.Status === CourseStatus.NotRegistered)
                  }"
                >
                  Status: {{ item.Status }}
                </div>
              </div>
              <div class="item-action">
                <button class="onecap-btn primary" (click)="launchCourse(item)">
                  Launch
                </button>
              </div>
            </div>
          </div>
          <div class="section-message" *ngIf="!CourseIsLoading && PagedData.results.length === 0">
            No course available.
          </div>
          <div class="section-actions">
            <button class="onecap-btn"
              *ngIf="contentTypeValue === ContentType.ALL_TYPE && (!CourseIsLoading && PagedData.results.length > 0)"
              (click)="ContentTypeForm.setValue(ContentType.COURSES)"
            >
              <div class="button-wrapper">
                See all <span class="material-icons">navigate_next</span>
              </div>
            </button>
            <button class="onecap-btn"
              *ngIf="contentTypeValue === ContentType.COURSES && (PagedData.hasNext && !NextPageLoading && !CourseIsLoading)"
              (click)="CoursePageIdx.next(1)"
            >
              <div class="button-wrapper">
                See More <span class="material-icons">expand_more</span>
              </div>
            </button>
          </div>
        </ng-container>
        <div class="section-loader" *ngIf="CourseIsLoading || NextPageLoading">
          <app-loader></app-loader>
        </div>

      </section>
      <!-- #endregion Course -->

      <!-- #region Exam -->
      <section id="exam" class="grid-section"
        [hidden]="!(contentTypeValue === ContentType.ALL_TYPE || contentTypeValue === ContentType.EXAMS)"
      >
        <div class="section-header">
          Exams
        </div>
        <ng-container *ngIf="(ExamPage|async) as PagedData">
          <div class="section-body" *ngIf="!ExamIsLoading && PagedData.results.length > 0">
            <div class="grid-item" *ngFor="let item of PagedData.results">
              <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="examMenu">
                <span class="material-icons">more_horiz</span>
              </button>
              <mat-menu #examMenu="matMenu">
                <button mat-menu-item [disabled]="item.HasRecord" (click)="addToMyExam(item)">{{ item.HasRecord ? 'Added' : 'Add to My Exams' }}</button>
                <button mat-menu-item (click)="copyToClipBoard(item.Title, ContentType.EXAMS)">Copy Link</button>
                <button mat-menu-item (click)="reportProblem(item, 'Exam')">Contact Us</button>
              </mat-menu>
              <div class="item-title">
                {{ item.Title }}
              </div>
              <div class="item-category">
                {{ item.LearningCategoryName }}
              </div>
              <div class="item-duration"></div>
              <div class="item-status">
                <div class="status-badge"
                  [ngClass]="{
                    'completed': (item.Status === ExamStatus.PASSED),
                    'failed': (item.Status === ExamStatus.FAILED),
                    'not-started': (item.Status === ExamStatus.NOT_YET_TAKEN)
                  }"
                > Status: {{ item.Status }} </div>
              </div>
              <div class="item-action">
                <button class="onecap-btn primary" (click)="launchExam(item)">
                  Launch
                </button>
              </div>
            </div>
          </div>
          <div class="section-message" *ngIf="!ExamIsLoading && PagedData.results.length === 0">
            No exam available.
          </div>
          <div class="section-actions">
            <button class="onecap-btn"
              *ngIf="contentTypeValue === ContentType.ALL_TYPE && (!ExamIsLoading && PagedData.results.length > 0)"
              (click)="ContentTypeForm.setValue(ContentType.EXAMS)"
            >
              <div class="button-wrapper">
                See all <span class="material-icons">navigate_next</span>
              </div>
            </button>
            <button class="onecap-btn"
              *ngIf="contentTypeValue === ContentType.EXAMS && (PagedData.hasNext && !NextPageLoading && !ExamIsLoading)"
              (click)="ExamPageIdx.next(1)"
            >
              <div class="button-wrapper">
                See More <span class="material-icons">expand_more</span>
              </div>
            </button>
          </div>
        </ng-container>
        <div class="section-loader" *ngIf="ExamIsLoading || NextPageLoading">
          <app-loader></app-loader>
        </div>

      </section>
      <!-- #endregion Exam -->

      <!-- #region Learning Map -->
      <section id="learning-maps" class="grid-section"
        [ngClass]="{'dark-section': contentTypeValue === ContentType.ALL_TYPE}"
        [hidden]="!(contentTypeValue === ContentType.ALL_TYPE || contentTypeValue === ContentType.LEARNING_MAPS)"
      >
        <div class="section-header">
          Learning Maps
        </div>
        <ng-container *ngIf="(LearningMapsPage|async) as PagedData">
          <div class="section-body" *ngIf="!LearningMapsIsLoading && PagedData.results.length > 0">
            <div class="grid-item" *ngFor="let item of PagedData.results">
              <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="curriculumMenu">
                <span class="material-icons">more_horiz</span>
              </button>
              <mat-menu #curriculumMenu="matMenu">
                <button mat-menu-item (click)="moreInfoRole(item)">More Information</button>
                <button mat-menu-item (click)="addCurrentRole(item)" [disabled]="item.IsCurrentRole">{{ item.IsCurrentRole ? 'Added as Current Role' : 'Add as Current Role' }}</button>
                <button mat-menu-item (click)="copyToClipBoard(item.Title, ContentType.LEARNING_MAPS)">Copy Link</button>
              </mat-menu>
              <div class="item-title">
                {{ item.Title }}
              </div>
              <div class="item-category">
                {{ item.CategoryName }}
              </div>
              <div class="item-duration"></div>
              <div class="item-status">
              </div>
              <div class="item-action">
                <button class="onecap-btn accent" (click)="moreInfoRole(item)">
                  View
                </button>
              </div>
            </div>
          </div>
          <div class="section-message" *ngIf="!LearningMapsIsLoading && PagedData.results.length === 0">
            No learning maps available.
          </div>
          <div class="section-actions">
            <button class="onecap-btn"
              *ngIf="contentTypeValue === ContentType.ALL_TYPE && (!LearningMapsIsLoading && PagedData.results.length > 0)"
              (click)="ContentTypeForm.setValue(ContentType.LEARNING_MAPS)"
            >
              <div class="button-wrapper">
                See all <span class="material-icons">navigate_next</span>
              </div>
            </button>
            <button class="onecap-btn"
              *ngIf="contentTypeValue === ContentType.LEARNING_MAPS && (PagedData.hasNext && !NextPageLoading && !CurriculumIsLoading)"
              (click)="LearningMapsPageIdx.next(1)"
            >
              <div class="button-wrapper">
                See More <span class="material-icons">expand_more</span>
              </div>
            </button>
          </div>
        </ng-container>
        <div class="section-loader" *ngIf="LearningMapsIsLoading || NextPageLoading">
          <app-loader></app-loader>
        </div>

      </section>
      <!-- #endregion Learning Map -->

    </ng-container>


  </section>

  <section class="page-loader" *ngIf="PageIsLoading">
    <app-loader></app-loader>
  </section>


</div>


