<button class="close-btn">
  <span class="material-icons" (click)="cancelExam()">close</span>
</button>

<!-- #region Dialog Header -->
<section class="dialog-header">
  <div class="dialog-title">
    {{ ActiveItem?.Title }}
  </div>
</section>
<!-- #endregion -->

<!-- #region Dialog Body -->
<section class="dialog-body">
  <mat-horizontal-stepper class="onecap-stepper"
    #examStepper
    linear
  >
    <mat-step label="Exam Details"
      [completed]="!ExamIsLoading"
    >
      <div class="stepper-loader" *ngIf="ExamIsLoading">
        <app-loader></app-loader>
      </div>

      <div class="stepper-content" *ngIf="!ExamIsLoading">

        <!-- Exam Description -->
        <div class="description-container">
          <div class="content"
            *ngIf="ActiveItem?.HasDescription"
            [innerHTML]="ActiveItem.Description"
          ></div>
          <div id="no-description"
            *ngIf="!ActiveItem?.HasDescription"
          > No description available. </div>
        </div>

        <!-- Exam Passing Rate & Items -->
        <div id="exam-details">

          <section>
            <div id="passing-score">
              Passing Score: <span>{{ ActiveItem?.PassingRate }}%</span>
            </div>
          </section>

          <section>
            <div id="number-of-questions">
              Number of Questions : <span>{{ QuestionCount }}</span>
            </div>
          </section>

        </div>


        <!-- Add To Plan -->
        <div id="add-exam" *ngIf="!ActiveItem?.HasRecord">
          <button class="onecap-outline-btn primary" (click)="saveExam()">
            Add to My Exams
          </button>
        </div>

        <!-- Courses Related -->
        <div id="courses-related">
          <div id="label">
            You may review the following course/s before taking the exam:
          </div>

          <div id="course-list" *ngIf="RelatedCourses.length > 0">
            <div id="course-table" class="onecap-table">
              <div class="table-row" *ngFor="let item of RelatedCourses">

                <div class="section details">
                  <!-- Course More Info -->
                  <div class="col-name">
                    <button class="onecap-icon-btn" (click)="openCourseDescription(item)">
                      <span class="material-icons">info_outline</span>
                    </button>
                  </div>

                  <!-- Course Title -->
                  <div class="col-name">
                    {{ item?.Title }}
                  </div>

                  <!-- Curriculum Titles -->
                  <div class="col-name">
                    <div class="list">
                      <div *ngFor="let name of item.CurriculumNameArr">
                        {{ name }}
                      </div>
                    </div>
                  </div>

                </div>

                <div class="section">

                  <!-- Action -->
                  <div class="col-name">
                    <button class="onecap-btn primary" (click)="launchCourse(item)">
                      Launch
                    </button>
                  </div>

                  <!-- Course Status -->
                  <div class="col-name">
                    <div class="status-badge"
                      [ngClass]="{
                        'completed': (item.Status === CourseStatus.Completed),
                        'pending': (item.Status === CourseStatus.Pending),
                        'not-started': (item.Status === CourseStatus.NotRegistered)
                      }"
                    >
                      {{ item.Status }}
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div id="no-data-message" *ngIf="RelatedCourses.length === 0">
            No related courses available.
          </div>
        </div>
      </div>

      <div class="stepper-action" *ngIf="!ExamIsLoading">
        <button class="onecap-btn accent-2"
          matStepperNext
        >
          <div class="button-wrapper">
            Next <span class="material-icons">chevron_right</span>
          </div>
        </button>
      </div>
    </mat-step>

    <mat-step label="Exam Proper">
      <div class="stepper-content">
        <div id="question-area">
          <div id="question-index">
            Question {{ CurrentQuestionIdx + 1 }} of {{ QuestionCount }}
          </div>

          <div id="question-item" *ngIf="QuestionCount > 0">
            <div class="question-title">
              {{ QuestionList[CurrentQuestionIdx]?.QuestionText }}
            </div>

            <div class="answers-container"
              [ngSwitch]="QuestionList[CurrentQuestionIdx].Type"
            >

            <!-- #region Single Answer -->
            <ng-container *ngSwitchCase="QuestionType.SINGLE_ANSWER">
              <mat-radio-group
                class="onecap-radio-group"
                [(ngModel)]="QuestionList[CurrentQuestionIdx].UserAnswer"
              >
                <mat-radio-button class="onecap-radio-button primary"
                  *ngFor="let answer of QuestionList[CurrentQuestionIdx].Answers"
                  [value]="answer"
                >{{ answer?.AnswerText }}</mat-radio-button>
              </mat-radio-group>
            </ng-container>
            <!-- #endregion -->

            <!-- #region Multiple Answer -->
            <ng-container *ngSwitchCase="QuestionType.MULTIPLE_ANSWER">
              <mat-checkbox
                class="onecap-checkbox primary"
                *ngFor="let answer of QuestionList[CurrentQuestionIdx].Answers"
                [(ngModel)]="answer.IsSelected"
              >{{ answer?.AnswerText }}</mat-checkbox>
            </ng-container>
            <!-- #endregion -->

            <!-- #region True or False -->
            <ng-container *ngSwitchCase="QuestionType.TRUE_OR_FALSE">
              <mat-radio-group
                class="onecap-radio-group"
                [(ngModel)]="QuestionList[CurrentQuestionIdx].AnswerIsTrue"
              >
                <mat-radio-button class="onecap-radio-button primary"
                  [value]="true"
                >True</mat-radio-button>
                <mat-radio-button class="onecap-radio-button primary"
                  [value]="false"
                >False</mat-radio-button>
              </mat-radio-group>
            </ng-container>
            <!-- #endregion -->
            </div>
          </div>

        </div>
      </div>

      <div class="stepper-action">

        <button class="onecap-outline-btn accent-2"
          *ngIf="CurrentQuestionIdx === 0"
          matStepperPrevious
        >
          <div class="button-wrapper">
            <span class="material-icons">chevron_left</span> Previous
          </div>
        </button>
        <button class="onecap-outline-btn accent-2"
          *ngIf="CurrentQuestionIdx > 0"
          (click)="(CurrentQuestionIdx = CurrentQuestionIdx - 1)"
        >
          <div class="button-wrapper">
            <span class="material-icons">chevron_left</span> Previous
          </div>
        </button>

        <button class="onecap-btn accent-2"
          *ngIf="CurrentQuestionIdx < (QuestionCount - 1)"
          (click)="(CurrentQuestionIdx = CurrentQuestionIdx + 1)"
          [disabled]="!QuestionList[CurrentQuestionIdx].IsAnswered()"
        >
          <div class="button-wrapper">
            Next <span class="material-icons">chevron_right</span>
          </div>
        </button>
        <button class="onecap-btn accent-2"
          *ngIf="CurrentQuestionIdx === (QuestionCount - 1)"
          matStepperNext
          (click)="ExamIsSubmitted=true"
          [disabled]="!QuestionList[CurrentQuestionIdx].IsAnswered()"
        >
          <div class="button-wrapper">
            Next <span class="material-icons">chevron_right</span>
          </div>
        </button>
      </div>
    </mat-step>

    <mat-step label="Review and Submit Answers">

      <div class="stepper-content">
        <div id="question-list">
          <div id="question-item"
            *ngFor="let item of QuestionList; let i=index"
          >
            <div class="question-title">{{ item.QuestionText }}</div>
            <div class="answers-container"
              [ngSwitch]="item.Type"
            >

              <!-- #region Single Answer -->
              <ng-container *ngSwitchCase="'Single Answer'">
                <mat-radio-group
                  class="onecap-radio-group"
                  [(ngModel)]="item.UserAnswer"
                >
                  <mat-radio-button class="onecap-radio-button primary"
                    *ngFor="let answer of item.Answers"
                    [value]="answer"
                  >{{ answer?.AnswerText }}</mat-radio-button>
                </mat-radio-group>
              </ng-container>
              <!-- #endregion -->

              <!-- #region Multiple Answer -->
              <ng-container *ngSwitchCase="'Multiple Answers'">
                <mat-checkbox
                  class="onecap-checkbox primary"
                  *ngFor="let answer of item.Answers"
                  [(ngModel)]="answer.IsSelected"
                >{{ answer?.AnswerText }}</mat-checkbox>
              </ng-container>
              <!-- #endregion -->

              <!-- #region True or False -->
              <ng-container *ngSwitchCase="'True or False'">
                <mat-radio-group
                  class="onecap-radio-group"
                  [(ngModel)]="item.AnswerIsTrue"
                >
                  <mat-radio-button class="onecap-radio-button primary"
                    [value]="true"
                  >True</mat-radio-button>
                  <mat-radio-button class="onecap-radio-button primary"
                    [value]="false"
                  >False</mat-radio-button>
                </mat-radio-group>
              </ng-container>
              <!-- #endregion -->

            </div>
          </div>
        </div>
      </div>

      <div class="stepper-action">

        <button class="onecap-outline-btn accent-2"
          matStepperPrevious
        >
          <div class="button-wrapper">
            <span class="material-icons">chevron_left</span> Previous
          </div>
        </button>

        <button class="onecap-btn accent-2"
          (click)="submitExam()"
        >
          <div class="button-wrapper">
            Submit <span class="material-icons">chevron_right</span>
          </div>
        </button>

      </div>

    </mat-step>

    <mat-step label="Results" >

      <div class="stepper-content" *ngIf="ActiveItem.Record as Record">
        <div id="passed" class="result-container" *ngIf="Record.Status === ExamStatus.PASSED">
          <div class="message"> Congratulations! </div>

          <div class="score-card-container">
            <div class="score-card">

              <div class="label">
                Score:
              </div>
              <div class="value">
                {{ Record.Score }}%
              </div>

              <div class="label">
                Status:
              </div>
              <div class="value">
                Passed
              </div>

            </div>
          </div>
        </div>
        <div id="failed" class="result-container" *ngIf="Record.Status === ExamStatus.FAILED">
          <div class="message"> Sorry, you didn't meet the passing score </div>

          <div class="score-card-container">
            <div class="score-card">

              <div class="label">
                Score:
              </div>
              <div class="value failed-score">
                {{ Record.Score }}%
              </div>

              <div class="label">
                Status:
              </div>
              <div class="value">
                Failed
              </div>

            </div>
          </div>

        </div>
        <!-- Courses Related -->
        <div id="courses-related" *ngIf="Record.Status === ExamStatus.FAILED">
          <div id="label">
            You may review the following course/s before taking the exam:
          </div>

          <div id="course-list" *ngIf="RelatedCourses.length > 0">
            <div id="course-table" class="onecap-table">
              <div class="table-row" *ngFor="let item of RelatedCourses">

                <div class="section details">
                  <!-- Course More Info -->
                  <div class="col-name">
                    <button class="onecap-icon-btn" (click)="openCourseDescription(item)">
                      <span class="material-icons">info_outline</span>
                    </button>
                  </div>

                  <!-- Course Title -->
                  <div class="col-name">
                    {{ item?.Title }}
                  </div>

                  <!-- Curriculum Titles -->
                  <div class="col-name">
                    <div class="list">
                      <div *ngFor="let name of item.CurriculumNameArr">
                        {{ name }}
                      </div>
                    </div>
                  </div>

                </div>

                <div class="section">

                  <!-- Action -->
                  <div class="col-name">
                    <button class="onecap-btn primary" (click)="launchCourse(item)">
                      Launch
                    </button>
                  </div>

                  <!-- Course Status -->
                  <div class="col-name">
                    <div class="status-badge"
                      [ngClass]="{
                        'completed': (item.Status === CourseStatus.Completed),
                        'pending': (item.Status === CourseStatus.Pending),
                        'not-started': (item.Status === CourseStatus.NotRegistered)
                      }"
                    >
                      {{ item.Status }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="no-data-message" *ngIf="RelatedCourses.length === 0">
            No related courses available.
          </div>
        </div>
      </div>


      <div class="stepper-action">
        <button class="onecap-btn accent-2"
          (click)="closeDialog()"
        > Close </button>
      </div>

    </mat-step>

    <ng-template
      matStepperIcon="done"
      let-index="index"
      let-active="active"
    > {{ index + 1 }} </ng-template>

    <ng-template
      matStepperIcon="edit"
      let-index="index"
      let-active="active"
    > {{ index + 1 }} </ng-template>

  </mat-horizontal-stepper>

</section>
<!-- #endregion -->
