<!-- #region Dialog Header -->
<section class="dialog-header" *ngIf="data?.title">
  <div class="dialog-title">
    {{ data.title }}
  </div>
</section>
<!-- #endregion -->

<!-- #region Dialog Body -->
<section class="dialog-body">
  {{ data.message }}
</section>
<!-- #endregion -->

<!-- #region Dialog Footer -->
<section class="dialog-action">
  <button
    class="onecap-outline-btn accent-2 "
    (click)="dialogRef.close(false)"
  >{{data.btnCancelText}}</button>
  <button
    class="onecap-btn accent-2"
    (click)="dialogRef.close(true)"
  >{{data.btnOkText}}</button>
</section>
<!-- #endregion Dialog Footer -->
