<div class="page-container">

  <section class="other-profile-section" *ngIf="IsOtherUser">
    <button class="onecap-outline-btn accent-2"
      [routerLink]="['../../']"
    > Back </button>
  </section>

  <section class="page-body" *ngIf="!PageIsLoading && !ProfileNotFound">


    <div id="top-row">

      <section id="role" class="card-section" *ngIf=" { ActiveRole: (SelectedRoleObs | async) } as data">

        <div class="section-header">
          <div class="section-title">Role</div>
        </div>

        <div class="section-body card">
          <div class="card-header">
            <div class="card-title">
              {{ HasRole ? SelectedRole.value?.Title : 'No role assigned.' }}
            </div>

            <button class="onecap-outline-btn accent-2"
              (click)="exportData()"
              [disabled]="DataIsLoading"
            >
              <div class="button-wrapper">
                <img class="icon icon-dxc export accent-2" />
                Export
              </div>
            </button>
          </div>
          <div class="card-body">

            <!-- Role sub-category -->
            <div>
              Role Sub-Category:
              <span class="link-lbl">
                {{ SelectedRole.value?.SubCategoryName || 'N/A' }}
              </span>
            </div>

            <!-- Employee Progress -->
            <div id="progress-area">
              <div id="progress-body" *ngIf="!DataIsLoading">
                <div id="progress-percentage">
                  {{ TotalCount > 0 ? Progress + '%' : 'N/A' }}
                </div>
                <app-progress-bar id="progress-bar"
                  [acquiredPercentage]="Progress"
                ></app-progress-bar>
                <div id="progress-count">
                  {{ CompletedCount }} out of {{ TotalCount }}
                </div>
              </div>

              <app-loader *ngIf="DataIsLoading"></app-loader>
            </div>

            <!-- Role Switcher -->
            <button class="prev-btn"
              *ngIf="ActiveRoleIdx !== 0"
              (click)="changeRole()"
            > <span class="material-icons">chevron_left</span> </button>
            <button class="next-btn"
              *ngIf="ActiveRoleIdx < (RolesList.length - 1)"
              (click)="changeRole(true)"
            > <span class="material-icons">chevron_right</span> </button>
          </div>
        </div>

      </section>

    </div>

    <section id="filters" class="card">

      <!-- Search -->
      <div class="onecap-input-form">
        <label>Curriculum/Exam/Course Title</label>
        <div class="input-container">
          <input type="text"
            placeholder="Enter key words"
            [formControl]="KeyWordForm"
          />
        </div>
      </div>

      <!-- Curriculum -->
      <div class="onecap-input-form">
        <label>Curriculum</label>
        <div class="select-container">
          <mat-select
            [panelClass]="'onecap-option-container'"
            placeholder="All Curricula"
            [formControl]="CurriculumForm"
            multiple
          >
            <mat-option *ngFor="let curriculum of (CurriculumList | async)"
              [value]="curriculum"
            > {{ curriculum.Title }} </mat-option>
          </mat-select>
        </div>
      </div>

      <!-- status -->
      <div class="onecap-input-form">
        <label>Status</label>
        <div class="select-container">
          <mat-select
            [panelClass]="'onecap-option-container'"
            placeholder="All Status"
            [formControl]="StatusForm"
            multiple
          >
            <mat-optgroup label="Examination">
              <mat-option [value]="ExamStatus.NOT_YET_TAKEN"> {{ ExamStatus.NOT_YET_TAKEN }} </mat-option>
              <mat-option [value]="ExamStatus.FAILED"> {{ ExamStatus.FAILED }} </mat-option>
              <mat-option [value]="ExamStatus.PASSED"> {{ ExamStatus.PASSED }} </mat-option>
            </mat-optgroup>

            <mat-optgroup label="Course">
              <mat-option [value]="CourseStatus.Pending"> {{ CourseStatus.Pending }} </mat-option>
              <mat-option [value]="CourseStatus.Completed"> {{ CourseStatus.Completed }} </mat-option>
            </mat-optgroup>

          </mat-select>
        </div>
      </div>

    </section>

    <section id="curriculum" class="card-section colapsable">
      <ng-container *ngIf="{ Expanded: true } as container">
        <div class="section-header">
          <button class="onecap-icon-btn"
            [@indicatorRotate]="container.Expanded ? 'expanded' : 'collapsed'"
            (click)="container.Expanded = !container.Expanded"
          >
            <span class="material-icons">
              expand_more
            </span>
          </button>
          <div class="section-title">Curriculum</div>
        </div>
        <div class="section-body" [@detailExpand]="container.Expanded ? 'expanded' : 'collapsed'">
          <div class="card" *ngIf="(FilteredAssignedCurriculumList | async) as List">
            <div class="onecap-table curriculum" *ngIf="!DataIsLoading">
              <div class="table-header">

                <div class="section details">
                  <div class="col-name">Curriculum Name</div>
                  <div class="col-name">Status</div>
                  <div class="col-name">Duration</div>
                </div>

                <div class="section">
                  <div class="col-name action">Action</div>
                  <div class="more">More</div>
                </div>

              </div>

              <div class="table-row" *ngFor="let curriculumId of List">

                <ng-container *ngIf="CurriculumMap[curriculumId] as curriculum">
                  <div class="section details">
                    <!-- Exam Title -->
                    <div class="col-name"> {{ curriculum ? curriculum.Title : '' }} </div>

                    <!-- Exam Status -->
                    <div class="col-name onecaplite-lbl"
                    > {{ curriculum.CompletionPercentage }}% </div>

                    <!-- Curriculum Titles -->
                    <div class="col-name">
                      {{ curriculum.TotalDurationString }}
                    </div>

                  </div>

                  <div class="section">

                    <!-- Action -->
                    <div class="col-name">
                      <button class="onecap-btn accent"
                        (click)="moreInfoCurriculum(curriculum)"
                      > View </button>
                    </div>

                    <!-- More -->
                    <div class="col-name">
                      <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="curriculumMenu">
                        <span class="material-icons">more_horiz</span>
                      </button>
                      <mat-menu #curriculumMenu="matMenu">
                        <button mat-menu-item (click)="moreInfoCurriculum(curriculum)">More Information</button>
                        <button mat-menu-item (click)="copyToClipBoard(curriculum.Title, ContentType.CURRICULA)">Copy Link</button>
                      </mat-menu>
                    </div>


                  </div>
                </ng-container>


              </div>
            </div>

            <div class="card-message"
              *ngIf="!DataIsLoading && List.length == 0"
            > No curriculum assigned. </div>

            <div class="status-loading" *ngIf="DataIsLoading">
              <app-loader></app-loader>
            </div>

          </div>
        </div>
      </ng-container>
    </section>

    <section id="courses" class="card-section colapsable">
      <ng-container *ngIf="{ Expanded: true } as container">
        <div class="section-header">
          <button class="onecap-icon-btn"
            [@indicatorRotate]="container.Expanded ? 'expanded' : 'collapsed'"
            (click)="container.Expanded = !container.Expanded"
          >
            <span class="material-icons">
              expand_more
            </span>
          </button>
          <div class="section-title">Courses</div>
        </div>

        <div class="section-body" [@detailExpand]="container.Expanded ? 'expanded' : 'collapsed'">
          <div class="card" *ngIf="(FilteredAssignedCourseList | async) as List">

            <div class="onecap-table course-progress" *ngIf="!DataIsLoading">
              <div class="table-header">

                <div class="section details">
                  <div class="col-name">Course Title</div>
                  <div class="col-name">Status</div>
                  <div class="col-name">Completion Date</div>
                </div>

                <div class="section">
                  <div class="col-name action">Action</div>
                  <div class="col-name">More</div>
                </div>

              </div>

              <div class="table-row" *ngFor="let courseId of List">
                <ng-container *ngIf="CourseMap[courseId] as course">

                  <div class="section details">
                    <!-- Course Title -->
                    <div class="col-name">
                      {{ course.Title ? course.Title : '' }}
                    </div>

                    <!-- Course Status -->
                    <div class="col-name">
                      <div class="status-badge"
                        [ngClass]="{
                          'completed': (course.Status === CourseStatus.Completed),
                          'pending': (course.Status === CourseStatus.Pending),
                          'not-started': (course.Status === CourseStatus.NotRegistered)
                        }"
                      > {{ course.Status }} </div>
                    </div>

                    <!-- Date Modified -->
                    <div class="col-name"> {{ course.Status === CourseStatus.Completed ? course.CompletionDate : '' }} </div>

                  </div>

                  <div class="section">

                    <!-- Action -->
                    <div class="col-name">
                      <button class="onecap-btn primary"
                        (click)="launchCourse(course)"
                      > Launch </button>
                    </div>

                    <!-- More -->
                    <div class="col-name">
                      <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="courseMenu">
                        <span class="material-icons">more_horiz</span>
                      </button>
                      <mat-menu #courseMenu="matMenu">
                        <button mat-menu-item (click)="moreInfoCourse(course)">More information</button>
                        <button mat-menu-item
                          [disabled]="course.HasRecord"
                          (click)="addToMyCourse(course)"
                        >{{ course.HasRecord ? 'Added' : 'Add to My Courses'}}</button>
                        <button mat-menu-item
                          (click)="markCourseAsComplete(course)"
                          [disabled]="course.Status === CourseStatus.Completed"
                        > {{ course.Status === CourseStatus.Completed ? 'Completed' : 'Mark as Complete'}} </button>
                        <button mat-menu-item (click)="copyToClipBoard(course.Title, ContentType.COURSES)">Copy Link</button>
                        <button mat-menu-item (click)="reportProblem(course, 'Course')" > Contact Us </button>
                      </mat-menu>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="card-message"
              *ngIf="!DataIsLoading && List.length == 0"
            > No courses assigned. </div>

            <div class="status-loading" *ngIf="DataIsLoading">
              <app-loader></app-loader>
            </div>

          </div>
        </div>


      </ng-container>

    </section>

    <section id="exams" class="card-section colapsable">
      <ng-container *ngIf="{ Expanded: true } as container">
        <div class="section-header">
          <button class="onecap-icon-btn"
            [@indicatorRotate]="container.Expanded ? 'expanded' : 'collapsed'"
            (click)="container.Expanded = !container.Expanded"
          >
            <span class="material-icons">
              expand_more
            </span>
          </button>
          <div class="section-title">Exams</div>
        </div>
        <div class="section-body" [@detailExpand]="container.Expanded ? 'expanded' : 'collapsed'">
          <div class="card" *ngIf="(FilteredAssignedExamList | async) as List">
            <div class="onecap-table exam-progress" *ngIf="!DataIsLoading">
              <div class="table-header">

                <div class="section details">
                  <div class="col-name">Exam Title</div>
                  <div class="col-name">Status</div>
                  <div class="col-name">Completion Date</div>
                </div>

                <div class="section">
                  <div class="col-name action">Action</div>
                  <div class="col-name">More</div>
                </div>

              </div>

              <div class="table-row" *ngFor="let examId of List">

                <ng-container *ngIf="ExamMap[examId] as exam">
                  <div class="section details">
                    <!-- Exam Title -->
                    <div class="col-name"> {{ exam ? exam.Title : '' }} </div>

                    <!-- Exam Status -->
                    <div class="col-name">
                      <div class="status-badge"
                        [ngClass]="{
                          'completed': (exam.Status === ExamStatus.PASSED),
                          'failed': (exam.Status === ExamStatus.FAILED),
                          'not-started': (exam.Status === ExamStatus.NOT_YET_TAKEN)
                        }"
                      > {{ exam.Status }} </div>
                    </div>

                    <!-- Date Modified -->
                    <div class="col-name">
                      {{
                        exam.Status === ExamStatus.PASSED ?
                        exam.CompletionDate :
                        ''
                      }}
                    </div>

                  </div>

                  <div class="section">

                    <!-- Action -->
                    <div class="col-name">
                      <button class="onecap-btn primary"
                        (click)="launchExam(exam)"
                      > Launch </button>
                    </div>

                    <div class="col-name">
                      <button id="more-info" class="onecap-icon-btn" [matMenuTriggerFor]="examMenu">
                        <span class="material-icons">more_horiz</span>
                      </button>
                      <mat-menu #examMenu="matMenu">
                        <button mat-menu-item [disabled]="exam.HasRecord" (click)="addToMyExam(exam)">{{ exam.HasRecord ? 'Added' : 'Add to My Exams' }}</button>
                        <button mat-menu-item (click)="copyToClipBoard(exam.Title, ContentType.EXAMS)">Copy Link</button>
                        <button mat-menu-item (click)="reportProblem(exam, 'Exam')">Contact Us</button>
                      </mat-menu>
                    </div>

                  </div>
                </ng-container>


              </div>
            </div>

            <div class="card-message"
              *ngIf="!DataIsLoading && List.length == 0"
            > No exams assigned. </div>

            <div class="status-loading" *ngIf="DataIsLoading">
              <app-loader></app-loader>
            </div>

          </div>
        </div>
      </ng-container>
    </section>

  </section>

  <section class="page-loader" *ngIf="PageIsLoading">
    <app-loader></app-loader>
  </section>

</div>
