:host {
  grid-template-rows: max-content 1fr;
}

#single-form {
  width: 512px;
  justify-self: center;
  display: grid;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba($color: #d9d9d9, $alpha: 0.25);
}

.expand-item {
  font-weight: bold;
  display: grid;
  padding: 10px;
  grid-template-columns: 30px 1fr;
  align-items: center;
}

.expand-area {
  overflow: hidden;
}

.assigned-section {
  border-top: 1px inset #000000;
}

.basic-form.summary {
  padding : 15px;
  gap     : 20px;
  .column { gap: inherit }
}

.list {
  & > .item {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: baseline;
    font-size: var(--font-sm);
    & > .index {
      color: #969696;
    }
  }
}
