.dialog-body {
  display       : grid;
  grid-auto-rows: max-content;
  gap           : 5px;
}

.duration-container {
  color         : var(--onecaplite-purple);
  font-size     : var(--font-sm);
  white-space   : nowrap;
  text-overflow : ellipsis;
  overflow      : hidden;
}

.description-container, .action-container {
  margin-top: 10px;
}

.action-container {
  display       : grid;
  grid-auto-flow: column;
  gap           : 25px;
  justify-self  : center;
}
