.course-material {
  display: grid;
  gap: 5px;
  margin-bottom: 16px;

  & > label {
    font-weight: bold;
    & .required {
      color: var(--onecaplite-red);
    }
  }


  .upload-container {
    display       : grid;
    grid-auto-flow: row;
    gap           : 5px;
    width         : 100%;
  }

  .onecap-input-form {
    grid-template-columns: 100px 1fr;
  }

}

.selection-section {
  #filter {
    grid-template-columns: repeat(2, 1fr);
    .tip {
      font-size: var(--font-xs);
      padding-top: 25px;
    }
  }
}

.basic-form.summary {
  padding : 15px;
  gap     : 20px;
  .column { gap: inherit }
}

.assigned-section {
  border-top: 1px inset #000000;
}

.results {
  margin    : 0px 60px;
  display   : grid;
  gap       : 50px;
}
