:host {
  display: grid;
  gap: 10px;
  width: 500px;
}

.dialog-header {
  & > .dialog-sub-title {
    font-weight: normal;
    font-size: var(--font-sm);
  }
}

.dialog-body {
  padding: 20px 40px;
  background-color: rgba($color: #d9d9d9, $alpha: 0.3);
}

.upload-form {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  .header {
    font-weight: bold;
  }

  .picker-form {
    display       : grid;
    grid-auto-flow: row;
    gap           : 5px;
    .note {
      font-size: var(--font-sm);
    }
  }
}

#attendance-form.dialog-action {
  justify-content: flex-end;
}


