<button class="close-btn" (click)="closeDialog()">
  <span class="material-icons">close</span>
</button>

<!-- #region Dialog Header -->
<section class="dialog-header">
  <div class="dialog-title"> {{ dialogTitle }} Employee </div>
</section>
<!-- #endregion -->

<section class="dialog-body">
  <mat-horizontal-stepper class="onecap-stepper"
    #stepper
    linear
  >
    <!-- #region Course Details -->
    <mat-step label="Employee Details">
      <div class="stepper-loader" *ngIf="dialogIsLoading">
        <app-loader></app-loader>
      </div>

      <div id="details-section" class="stepper-content"
        [hidden]="dialogIsLoading"
      >

        <section id="upload-type" *ngIf="dialogTitle === 'Create'">
          <label>Upload Type:</label>
          <div class="onecap-group-btn">
            <button class="btn"
              [ngClass]="{ 'active': !isBatch }"
              (click)="isBatch = false"
            > Single </button>
            <button class="btn"
              [ngClass]="{ 'active': isBatch }"
              (click)="isBatch = true"
            > Batch </button>
          </div>
        </section>


        <!-- Single Form -->
        <section id="single-form"
          [hidden]="isBatch"
          [formGroup]="FormDetails"
        >
          <ng-container *ngIf="SearchUserList | async as UserList">
            <!-- Employee -->
            <div class="onecap-input-form"
              [ngClass]="{ 'invalid': FormDetails.get('Employee').invalid }"
            >
              <label> Employee Name<span class="required">*</span> </label>
              <div class="input-container">
                <input type="text"
                  formControlName="Employee"
                  [matAutocomplete]="employeeAuto"
                />
                <mat-autocomplete #employeeAuto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn" (optionSelected)="ensureEmployee($event)">
                  <mat-option *ngIf="IsSearchingUser; else userOptionList" [disabled]="true">
                    <div class="autocomplete-loader">
                      <mat-spinner [diameter]="24"></mat-spinner>
                    </div>
                  </mat-option>
                  <ng-template #userOptionList>
                    <mat-option *ngIf="UserList.length === 0" [disabled]="true">
                      No user found.
                    </mat-option>
                    <mat-option [value]="profile" *ngFor="let profile of UserList">
                      {{ profile.DisplayText }}
                    </mat-option>
                  </ng-template>
                </mat-autocomplete>
              </div>
            </div>

            <!-- Manager -->
            <div class="onecap-input-form"
              [ngClass]="{ 'invalid': FormDetails.get('Manager').invalid }"
            >
              <label> Manager </label>
              <div class="input-container">
                <input type="text"
                  formControlName="Manager"
                  [matAutocomplete]="managerAuto"
                />
                <mat-autocomplete #managerAuto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn" (optionSelected)="ensureManager($event)">
                  <mat-option *ngIf="IsSearchingUser; else managerOptionList" [disabled]="true">
                    <div class="autocomplete-loader" >
                      <mat-spinner [diameter]="24"></mat-spinner>
                    </div>
                  </mat-option>
                  <ng-template #managerOptionList>
                    <mat-option *ngIf="UserList.length === 0" [disabled]="true">
                      No user found.
                    </mat-option>
                    <mat-option [value]="profile" *ngFor="let profile of UserList">
                      {{ profile.DisplayText }}
                    </mat-option>
                  </ng-template>
                </mat-autocomplete>
              </div>
            </div>
          </ng-container>

          <!-- Country -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('Country').invalid }"
          >
            <label> Country </label>
            <div class="select-container">
              <mat-select
                [disableOptionCentering]="true"
                [placeholder]="'-'"
                formControlName="Country"
              >
                <mat-option [value]="null">-</mat-option>
                <mat-option
                  *ngFor="let item of (CountryList | async)"
                  [value]="item"
                >{{ item.Title }}</mat-option>
              </mat-select>
            </div>
          </div>

          <!-- OrgLvl1 -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('OrgLvl1').invalid }"
          >
            <label> Org Level 1 </label>
            <div class="select-container">
              <mat-select
                [disableOptionCentering]="true"
                [placeholder]="'-'"
                formControlName="OrgLvl1"
              >
                <mat-option [value]="null">-</mat-option>
                <mat-option
                  *ngFor="let item of (OrgLvl1List | async)"
                  [value]="item"
                >{{ item.Title }}</mat-option>
              </mat-select>
            </div>
          </div>

          <!-- OrgLvl2 -->
          <div class="onecap-input-form"
            [ngClass]="{ 'invalid': FormDetails.get('OrgLvl2').invalid }"
          >
            <label> Org Level 2 </label>
            <div class="select-container">
              <mat-select
                [disableOptionCentering]="true"
                [placeholder]="'-'"
                formControlName="OrgLvl2"
              >
                <mat-option [value]="null">-</mat-option>
                <mat-option
                  *ngFor="let item of (FilteredOrgLvl2List | async)"
                  [value]="item"
                >{{ item.Title }}</mat-option>
              </mat-select>
            </div>
          </div>

        </section>

        <!-- Batch Form -->
        <section id="batch-form"
          *ngIf="isBatch"
        >

          <label>File</label>
          <div class="note">
            Use the  <a [href]="templateLink" target="_blank">template</a> and upload the file below.
          </div>
          <div class="filepicker-container">
            <div id="file-label">
              {{ selectedFile ? selectedFile.name : '' }}
            </div>
            <button id="browse-btn"
              (click)="fileButton.click()"
            > Browse </button>
            <input

              #fileButton
              hidden
              type="file"
              (change)="uploadFileUpdated($event)"
            />
          </div>

          <div class="error-messages" *ngIf="hasInvalidRows">
            <div class="error-title">
              Please check rows: [{{ invalidRows.join(', ') }}]
            </div>
          </div>

        </section>

      </div>

      <div class="stepper-action">
        <ng-container *ngIf="!isBatch; else batchDetailAction">
          <button class="onecap-link-btn accent-2"
            [disabled]="FormDetails.invalid"
            (click)="validateUserExistence(true)"
          >
            Skip Assigning Roles
          </button>

          <button class="onecap-btn accent-2"
            (click)="validateUserExistence()"
            [disabled]="FormDetails.invalid"
          >
            <div class="button-wrapper">
              Next <span class="material-icons">chevron_right</span>
            </div>
          </button>
        </ng-container>
        <ng-template #batchDetailAction>
          <button class="onecap-btn accent-2"
            (click)="validateTemplate()"
          >
            <div class="button-wrapper">
              Next <span class="material-icons">chevron_right</span>
            </div>
          </button>
        </ng-template>
      </div>
    </mat-step>
    <!-- #endregion Employee Details -->

    <!-- #region Assigned Role -->
    <mat-step label="Assign Roles"
      *ngIf="!isBatch"
      [optional]="true"
    >
      <div class="stepper-loader" *ngIf="roleIsLoading">
        <app-loader></app-loader>
      </div>
      <div class="stepper-content"
        [hidden]="roleIsLoading"
      >
        <div class="selection-table">
          <div class="table-label">
            <div class="onecap-input-form">
              <label>
                Role Name
              </label>
              <div class="input-container">
                <input type="text"
                  #searchField
                  placeholder="Search for a curriculum"
                  [formControl]="RoleSearchFilter"
                  [matAutocomplete]="itemSelectionRole"
                />
              </div>
              <mat-autocomplete
                #itemSelectionRole="matAutocomplete"
                autoActiveFirstOption
                (optionSelected)="AssignedRole.select($event.option.value);RoleSearchFilter.setValue('')"
              >
                <ng-container *ngIf="(FilteredRoleList$ | async) as List">
                  <mat-option [disabled]="true" [value]="null" *ngIf="List.length === 0">
                    No role available.
                  </mat-option>
                  <mat-option [value]="item" *ngFor="let item of List">
                    {{ item.Title }}
                  </mat-option>

                </ng-container>
              </mat-autocomplete>
            </div>
          </div>

          <div class="table-body">
            <div class="table-row selection"
              *ngFor="let item of AssignedRole.selected; let i = index"
            >
              <span>{{i + 1}}</span>
              <span></span>
              <div class="col">
                {{ item.Title }}
              </div>
              <button class="onecap-icon-btn error"
                (click)="AssignedRole.deselect(item)"
              >
                <span class="material-icons">clear</span>
              </button>
            </div>

            <div class="table-row selection"
              *ngIf="AssignedRole.isEmpty()"
            >
              <span></span>
              <span></span>
              <label class="onecap-lbl error">
                No role assigned.
              </label>
            </div>
          </div>

        </div>
      </div>
      <div class="stepper-action">
        <button class="onecap-outline-btn accent-2"
          matStepperPrevious
        >
          <div class="button-wrapper">
            <span class="material-icons">chevron_left</span> Previous
          </div>
        </button>
        <button class="onecap-btn accent-2"
          matStepperNext
        >
          <div class="button-wrapper">
            Next <span class="material-icons">chevron_right</span>
          </div>
        </button>
      </div>
    </mat-step>
    <!-- #endregion Assigned Role -->

    <!-- #region Assigned Role -->
    <mat-step label="Confirm Details">
      <div class="stepper-content"
        *ngIf="!isBatch"
      >
        <div class="result-page" *ngIf="FormDetails.getRawValue() as Detail">
          <div class="field-row">
            <label> Employee Name* </label>
            <span> {{ Detail?.Employee?.Title || '(Blank)' }} </span>
          </div>
          <div class="field-row">
            <label> People Manager* </label>
            <span> {{ Detail?.Manager?.Title || '(Blank)' }} </span>
          </div>
          <div class="field-row">
            <label> Country </label>
            <span> {{ Detail?.Country?.Title || '(Blank)' }} </span>
          </div>
          <div class="field-row">
            <label> Org Level 1 </label>
            <span> {{ Detail?.OrgLvl1?.Title || '(Blank)' }} </span>
          </div>
          <div class="field-row">
            <label> Org Level 2 </label>
            <span> {{ Detail?.OrgLvl2?.Title || '(Blank)' }} </span>
          </div>
          <div class="field-list">
            <label> Roles </label>
            <div class="list">
              <ng-container *ngIf="AssignedRole.selected as list">
                <div *ngIf="list.length === 0" class="onecap-lbl error" > No role assigned. </div>
                <div *ngFor="let item of list"> {{ item.Title }} </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <!-- Batch Input Confirmation -->
      <div class="stepper-content" *ngIf="isBatch">
        <div class="results">
          <label class="onecap-lbl completed">File uploaded successfully.</label>
          <div class="results-table">

            <label>Employees Added</label>
            <div> {{ savedUsersCount }} </div>

            <label>Invalid Emails*</label>
            <div>
              <div *ngFor="let email of invalidUsers">
                {{ email }}
              </div>
              <div *ngIf="invalidUsers.length === 0">
                0
              </div>
            </div>

            <label>Org Level 1/s not found</label>
            <div>
              <div class="row" *ngFor="let item of invalidOrgLvl1">
                <span> {{ item.email }} </span>
                <div class="list">
                  {{ item.title }}
                </div>
              </div>
            </div>

            <label>Org Level 2/s not found</label>
            <div>
              <div class="row" *ngFor="let item of invalidOrgLvl2">
                <span> {{ item.email }} </span>
                <div class="list">
                  {{ item.title }}
                </div>
              </div>
            </div>

            <label>Roles not found</label>
            <div>
              <div class="row" *ngFor="let item of invalidRoles">
                <span> {{ item.email }} </span>
                <div class="list">
                  <div class="item" *ngFor="let title of item.roles">
                    {{ title }}
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="stepper-action">
        <ng-container *ngIf="!isBatch else BatchComplete">
          <button class="onecap-outline-btn accent-2"
            matStepperPrevious
          >
            <div class="button-wrapper">
              <span class="material-icons">chevron_left</span> Previous
            </div>
          </button>
          <button class="onecap-btn accent-2"
            (click)="save()"
          >
            <div class="button-wrapper">
              Save
            </div>
          </button>
        </ng-container>
        <ng-template #BatchComplete>
          <button class="onecap-btn accent-2"
          *ngIf="isBatch"
          (click)="dialogRef.close(true)"
        > Close </button>
        </ng-template>
      </div>
    </mat-step>
    <!-- #endregion Assigned Role -->

  </mat-horizontal-stepper>
</section>
