
.result-page {
  margin: 0px 60px 30px;

  display: grid;
  gap: 20px;
  label { font-weight: bold; }
  .field-row {
    display: grid;
    grid-template-columns: 175px 1fr;
  }

  .field-list {
    gap: 10px;
    & > .list {
      display: grid;
      gap: 5px;
    }
  }
}
