<button class="close-btn" (click)="dialogRef.close(false)">
  <span class="material-icons">close</span>
</button>

<!-- #region Dialog Header -->
<section class="dialog-header">
  <div class="dialog-title">
    Upload Attendance
  </div>
  <div class="dialog-sub-title">
    Upload attendance sheet to mark all attendees as <span class="onecap-lbl completed">complete</span>
  </div>
</section>
<!-- #endregion -->

<!-- #region Dialog Body -->
<section class="dialog-body">
  <div class="upload-form" [formGroup]="UploadForm">
    <div class="header">Attendance Sheet</div>

    <div class="picker-form">
      <div class="note">Use the <a [href]="templateLink" target="_blank">template</a> and upload the file below.</div>
      <div class="filepicker-container"
        *ngIf="UploadForm.get('TemplateFile') as UploadFile"
        [ngClass]="{ 'invalid': UploadFile.invalid }"
      >
        <div id="file-label">
          {{ UploadFile.value ? UploadFile.value.name : '' }}
        </div>
        <button id="browse-btn"
          (click)="fileButton.click()"
        > Browse </button>
        <input
          #fileButton
          hidden
          type="file"
          (change)="onFileChange($event)"
        />
      </div>
    </div>

    <div class="onecap-input-form"
      [ngClass]="{ 'invalid': UploadForm.get('CourseId').invalid }"
    >
      <label> Course Name<span class="required">*</span> </label>
      <div class="select-container">
        <mat-select
          [panelClass]="'onecaplite-option-container'"
          [disableOptionCentering]="true"
          [placeholder]="'-'"
          formControlName="CourseId"
        >
          <mat-option [value]="null">-</mat-option>
          <mat-option
            *ngFor="let item of CourseList"
            [value]="item.Id"
          >{{ item.Title }}</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</section>
<!-- #endregion -->

<!-- #region Dialog Footer -->
<section id="attendance-form" class="dialog-action">
  <button class="onecap-btn accent-2"
    [disabled]="!UploadForm.valid"
    (click)="submit()"
  > Submit </button>
</section>
<!-- #endregion Dialog Footer -->
