<div class="page-container">

  <section class="page-header">
    <div class="page-title"> Employee Profile </div>
    <button id="edit-profile" class="onecap-btn accent"
      (click)="editEmployeeInformation()"
    >
      <div class="button-wrapper">
        <span class="material-icons">edit</span>
        Edit Profile
      </div>
    </button>
  </section>


  <section class="page-body" *ngIf="!PageIsLoading">

    <section id="profile-section" class="card">
      <div id="profile-name"> {{ UserProfile?.User?.Title || '(Blank)' }} </div>

      <div id="profile-details">

        <div class="profile-item">
          <label>Email:</label>
          <span> {{ UserProfile?.User?.EMail || '(Blank)' }} </span>
        </div>

        <div class="profile-item">
          <label>People Manager:</label>
          <span> {{ UserProfile?.Manager?.Title || '(Blank)' }} </span>
        </div>

        <div class="profile-item">
          <label>Country:</label>
          <span> {{ CountryName || '(Blank)' }} </span>
        </div>

        <div class="profile-item">
          <label>Org Level 1:</label>
          <span> {{ OrgLvl1Name || '(Blank)' }} </span>
        </div>

        <div class="profile-item">
          <label>Org Level 2:</label>
          <span> {{ OrgLvl2Name || '(Blank)' }} </span>
        </div>

      </div>
    </section>

    <section id="roles-section" class="card">
      <div id="roles-table" class="onecap-table" *ngIf="!RolesLoading">
        <div class="table-header">
          <div class="section">
            <div class="col-name">Role</div>
          </div>
        </div>

        <div class="table-row" *ngFor="let item of Roles">
          <div class="section">
            <div class="list-item" (click)="goToMyProgressPage('roleId', item.RoleId)"> {{ item.RoleName }} </div>
          </div>
        </div>

        <div class="table-message" *ngIf="Roles.length === 0">
          No role assigned.
        </div>
      </div>

      <div class="status-loading" *ngIf="RolesLoading">
        <app-loader></app-loader>
      </div>


    </section>

  </section>

  <section class="page-loader" *ngIf="PageIsLoading">
    <app-loader></app-loader>
  </section>

</div>
