<button class="close-btn" matDialogClose>
  <span class="material-icons">close</span>
</button>

<!-- #region Dialog Header -->
<section class="dialog-header">
  <div class="dialog-title">
    {{ data.title }}
  </div>
</section>
<!-- #endregion -->

<!-- #region Dialog Body -->
<section class="dialog-body">
  <div class="content" [innerHTML]="data.message"></div>
</section>
<!-- #endregion -->

<!-- #region Dialog Footer -->
<section class="dialog-action" *ngIf="!data.hideBtnOk" >
  <button
    class="onecap-outline-btn primary"
    matDialogClose
  > {{ data.btnOkText }} </button>
</section>
<!-- #endregion -->
