<div class="page-container">
  <section class="page-header">
    <div class="page-title"> Mandatory Training </div>
  </section>

  <section class="page-body" *ngIf="!pageIsLoading">

    <!-- Filters -->
    <section id="filters" class="card">
      <!-- Search -->
      <div class="onecap-input-form">
        <label>Search</label>
        <div class="input-container">
          <input type="text"
            placeholder="Course/Exam"
            [formControl]="keywordFilter"
          />
        </div>
      </div>

    </section>

    <section id="actions">
      <button class="onecap-btn accent-2"
        (click)="create()"
      >
        <div class="button-wrapper">
          <span class="material-icons">add</span>
          Create Mandatory Training
        </div>
      </button>
    </section>


    <section id="data" class="card">
      <ng-container *ngIf="filteredMandatoryTrainingList|async as list">
        <div class="table-container" >
          <div id="mandatory-training-table" class="onecap-table" *ngIf="list.length > 0 && !dataIsLoading">
            <div class="table-header">

              <div id="details" class="section" >
                <div class="col-name"> Course Name </div>
                <div class="col-name"> Exam Name </div>
                <div class="col-name"> Due Date </div>
                <div class="col-name"> Final Date </div>
                <div class="col-name"> Status </div>
              </div>

              <div id="action" class="section">
                <div class="col-name">Action</div>
              </div>

            </div>
            <div class="table-row" *ngFor="let item of list">

              <div id="details" class="section" >
                <div class="col-name">
                  <div class="list">
                    <div class="item" *ngFor="let subItem of item.CourseNames">
                      {{ subItem }}
                    </div>
                  </div>
                </div>
                <div class="col-name">
                  <div class="item" *ngFor="let subItem of item.ExamNames">
                    {{ subItem }}
                  </div>
                </div>
                <div class="col-name">
                  {{ item.DateDueDate}}
                </div>
                <div class="col-name">
                  {{ item.DateFinalDate }}
                </div>

                <div class="col-name">
                  {{ item.Status }}
                </div>
              </div>

              <div id="action" class="section">
                <div class="col-name action-col">
                  <button class="onecap-icon-btn accent"
                    (click)="update(item)"
                    matTooltip="Edit"
                    matTooltipPosition="above"
                  >
                    <span class="material-icons">edit</span>
                  </button>

                  <button class="onecap-icon-btn error"
                    (click)="delete(item)"
                    matTooltip="Delete"
                    matTooltipPosition="above"
                  >
                    <span class="material-icons">clear</span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card-message" *ngIf="list.length === 0 && !dataIsLoading">
          No mandatory training available.
        </div>

        <div class="status-loading" *ngIf="dataIsLoading">
          <app-loader></app-loader>
        </div>
      </ng-container>
    </section>

  </section>

  <section class="page-loader" *ngIf="pageIsLoading">
    <app-loader></app-loader>
  </section>

</div>
